[2021-05-19 21:56] srush opened #3 "Surface datasets without prompts"
It would be nice to visually indicate which datasets people should work on next, and which have a lot of prompts already.

[2021-05-19 21:58] srush opened #4 "Prompt filters"
Some prompts may only apply to a subset of the data. (For instance datasets with multiple languages.) Maybe an optional filter function per prompt.

[2021-05-20 02:58] VictorSanh opened #7 "basic quality code checks"
It would be nice to set up some code quality checks (black, isort for instance) to ensure consistency in coding quality & style

[2021-05-20 11:44] tianjianjiang opened #10 "define data augmentation API | Streamlit → produce variations of prompt and/or input"
# Job Story

## When
Using Streamlit for generating templates

## I want to
Have data augmentation API defined
- [ ] Input arguments
    - Instance or template? Template might be tricky for preserving slots.
    - Prompt and/or input?
- [ ] Output type
    - Just one string or a list of strings?

## So I can
Produce variations of prompt and/or input

# Notes
I'm gonna do it during the weekend (202

[2021-05-20 13:14] manandey opened #12 "Cancel button to cancel an incomplete template"
While trying to create a template, if someone would want to Cancel it rather than Saving it, then having a Cancel button might be useful since deleting an incomplete entry leads to an error message (in Jinja).

[2021-05-20 13:15] manandey opened #13 "FileNotFoundError while loading a dataset"
Loading datasets like Salesforce/QAConv, wmt/wmt17, yluisfern/PBU etc. failing due to` FileNotFoundError: Couldn't find file locally at Salesforce/QAConv\QAConv.py, or remotely at https://huggingface.co/datasets/Salesforce/QAConv/resolve/main/QAConv.py. Please provide a valid dataset name`

[2021-05-20 15:52] shanyas10 opened #14 "Fix save functionality to save a template"
Currently, one needs to modify and save twice for template changes to reflect in templates.yaml. This needs to be fixed to save seamlessly at first go.

[2021-05-20 23:54] arnaudstiegler commented on #14
Tried editing a an existing template, and at the first save, the templates.yaml is updated. Can you expand on the problem?

[2021-05-21 00:54] arnaudstiegler commented on #13
Looked into that, it's basically coming from the community datasets. Some of them just don't work.
We could remove those community datasets  by doing `datasets.list_datasets(with_community_datasets=False)`

I've seen a bunch of issues with those community datasets, like dummy datasets (like `'smallv0221/my-test`) and duplicate datasets (for instance `'lhoestq/squad'`). Not that familiar with that

[2021-05-21 14:11] shanyas10 commented on #14
Hi! So the save works for every alternate try i.e. 1st, 3rd, 5th and so on. I found out that it's an issue inherent to streamlit (https://github.com/streamlit/streamlit/issues/1557) where the text area updates on every alternate update.

[2021-05-21 14:13] stephenbach commented on #13
Thanks both! Yes, I think focusing on the datasets without community ones is fine for now.

[2021-05-21 14:21] stephenbach commented on #14
Thanks for the detective work!

I guess we could add session state back in like suggested here: https://discuss.streamlit.io/t/multi-page-app-with-session-state/3074

I think (correct me?) this problem will persist even if we go with only jinja templates and no name field as suggested by @srush because we still want to collect multiple fields: template, reference, maybe filter function (#4), maybe

[2021-05-21 14:21] arnaudstiegler commented on #13
Sounds good, will open a PR for that

[2021-05-21 14:42] arnaudstiegler opened #18 "fix #13"
fix #13

_Originally posted by @arnaudstiegler in https://github.com/bigscience-workshop/promptsource/issues/17#issuecomment-845998450_

[2021-05-21 14:42] #18 closed

[2021-05-21 14:49] #7 closed

[2021-05-21 14:52] #13 closed

[2021-05-23 17:39] stephenbach opened #20 "Example keys with dashes are inaccessible"
Seems to be a quirk of the way we're using Jinja. See, e.g., TREC. A template like
[code]
doesn't render correctly because `label-coarse` is parsed as `label`. See, e.g., https://stackoverflow.com/questions/28652373/jinja2-in-variable-bug

Can probably just fix by replacing dashes with underscores in keys of the example dictionary when rendering. Might be good to change the displayed information i

[2021-05-23 17:57] stephenbach commented on #14
Verified that this is a problem regardless of whether using text_field or text_area. Seems inherent to any multi-input form that we want to use the output of on the next reload, so let's go back to having a session state and use the solution @shanyas10 found.

[2021-05-23 21:26] stephenbach commented on #14
Ok, this should be fixed now. Closing this issue, but using session state in streamlit is a little tricky, so please let me know if there are remaining or new issues!

[2021-05-23 21:26] #14 closed

[2021-05-23 21:28] stephenbach commented on #12
This should be fixed in `main` now. The delete button will delete the current template, including one that has never been filled in.

[2021-05-23 21:28] #12 closed

[2021-05-23 21:54] Urmish commented on #20
I tried pushing a fix to this, but got the following error -
remote: Permission to bigscience-workshop/promptsource.git denied to Urmish

The fix I did was simple. When the template is being saved, I replace all "-" with "_".

![image](https://user-images.githubusercontent.com/9425893/119277829-75047d00-bbe7-11eb-844e-bdc6b20fb6fe.png)

[2021-05-23 22:08] stephenbach commented on #20
Thanks for your help with this! I think we might want a different approach, because (at least for me?) this creates a valid Jinja template, but it doesn't actually render the template correctly because there's still a key of "label-coarse" in the dictionary coming from the dataset library. (It renders part of the template, but it doesn't show the answer to the question.) So instead of modifying th

[2021-05-23 23:12] Urmish commented on #20
Ah! Yes, see if this works?
https://github.com/bigscience-workshop/promptsource/pull/21

Changes both examples and template. I can see the render happening without the label error and the label being displayed -

After the changes -
![image](https://user-images.githubusercontent.com/9425893/119279575-33c59a80-bbf2-11eb-9bbb-15c6af3f015a.png)

Before the changes -
![image](https://user-images.githu

[2021-05-24 01:51] VictorSanh opened #22 "Language filter (English only)"
Filter the datasets presented in the toggle bar to only display english datasets (initial scope for experiment D is English only).
There are language filters in the [hf datasets](https://huggingface.co/datasets) so that should be possible.

[2021-05-24 02:26] VictorSanh opened #23 "[open for discussion] `get_dataset` for bigger datasets (downloading bottleneck)"
Dumping here for discussion

When you query a new dataset, the datasets library downloads it (there is no way to look at a subset of the data without downloading it entirely), which becomes a bottleneck if 1/ you want to write prompts for bigger datasets, 2/ you write prompts for a lot of datasets.

To smooth as much as possible the prompt sourcing, a possibility to consider is to set up a unique

[2021-05-24 02:34] VictorSanh opened #24 "🐛`UnboundLocalError: local variable 'd_to_b' referenced before assignment`"
When loading a dataset (apparently, datasets with configs), this error pops up:

Traceback:
File "/home/hf/promptsource/.venv/lib/python3.7/site-packages/streamlit/script_runner.py", line 338, in _run_script
    exec(code, module.__dict__)
File "/home/hf/promptsource/promptsource/promptsource.py", line 252, in <module>
    state.sync()
File "promptsource/session.py", line 70, in sync
    self._sta

[2021-05-24 13:15] #24 closed

[2021-05-24 13:41] stephenbach commented on #23
We'd need to add some handling of simultaneous users anyway, so maybe each user gets their own sandbox somehow that saves their version of templates.yaml. Then we periodically merge them in to github via some review process?

[2021-05-24 16:09] stephenbach opened #26 "Write Template Writing Guide"
There should be some guidelines for users. For now, we can assume they are BigScience participants, so the technical details of using the system are less important. It's more about what kind of information should be included in prompts, pitfalls to avoid, and other tips (i.e., how to map labels to strings in a way consistent with few-shot evaluation techniques).

[2021-05-24 16:10] tianjianjiang commented on #23
I haven't done this in quite a while but perhaps a Streamlit server that saves files to another (or even this) git repo with user branches? (Kinda like when we write a paper in LaTeX and sync to one git repo)

[2021-05-24 16:33] #3 closed

[2021-05-25 06:54] elsanns opened #27 "Priority dataset disappears from dataset list after adding a third template"
Steps to reproduce the behavior:

1. Select `Filter Priority Dataset`
2. Select a dataset with 2 templates (e.g.: ag_news)
3. Type in a new template name, press `Create`
4. The form refreshes and the current dataset no longer appears in the template list (because of the `count_dict[d]>2` condition)

One possible solution would be to save the name of the current working dataset and include it in th

[2021-05-25 19:35] VictorSanh commented on #22
I'm working on it right now,
Basically, I am using the DatasetMetadata class (`from datasets.utils.metadata import DatasetMetadata`). It doesn't have a public API yet, and the extracted tags are quite noisy, so I'll probably hardcode a list of English datasets instead of calling it each time.

[2021-05-25 22:14] #22 closed

[2021-05-25 22:32] VictorSanh commented on #23
Sorry, I am so late to answer...

I added a [spreadsheet](https://docs.google.com/spreadsheets/d/10SBt96nXutB49H52PV2Lvne7F1NvVr_WZLXD8_Z0JMw/edit?usp=sharing) with the identified datasets and column "who prompts it". That should solve the conflicts of multiple people working on the same datasets if we say that one dataset is assigned to one person and one only (at least in a 1st pass)

But I agre

[2021-05-26 09:42] manandey commented on #27
Hi @elsanns, since you will be submitting a PR for this, will it be possible to include a input field/ dropdown with a list of values like [5,10,15,20] to get a user-defined value for the number of existing templates to filter the dataset list?

[2021-05-26 10:32] elsanns commented on #27
Hi @manandey,
Yes, I will add a field for that, the value will be used instead of the fixed threshold of 2 templates per dataset, good idea

[2021-05-26 13:22] arnaudstiegler opened #29 "Creating unique identifier in the template.yaml"
For now, it looks like we can sort of uniquely identify each template using a combination of template name and dataset name, but I'm expecting potential collisions when a lot of people start contributing. Besides, naming each template might not be useful (like if we end up with names like `template1` `template2` etc...), and it would help contributors if they don't have to add a name/check conflic

[2021-05-26 14:22] shanyas10 commented on #29
As an extension, I think we can also keep a user from saving an empty template (currently we can save a template right after entering the name). However, @arnaudstiegler if we remove the template name, do you think it can make it difficult for one to trace back to the template they created? As an alternative, I think we can have the author's name saved in the template so that it's easier to filter

[2021-05-26 15:41] arnaudstiegler commented on #29
For sure keeping the template name is better to retrieve some templates.
Adding the author name is also useful, and as you mentioned probably a better way to filter out templates.

That being said, I believe the template name should not be used as a database key here:
- so that we don't have to force providing a name (no need for uninformative names, contributors don't have to add them)
- so that

[2021-05-26 19:22] stephenbach commented on #29
I'll get to it tonight if no one claims it before then!

[2021-05-26 19:35] stephenbach opened #31 "Priority filter hides subsets that do not have minimum number of templates"
For example, if adversarial_qa/adversarialQA has sufficient number, the other subsets are hidden.

[2021-05-26 19:36] #27 closed

[2021-05-26 19:48] stephenbach commented on #31
Ah, this is the intended behavior, as the template counts are being summed over the subsets. Seems ok then.

[2021-05-26 19:48] #31 closed

[2021-05-26 19:54] arnaudstiegler commented on #29
Yes, if one person is assigned to one dataset, there's a lot less risks of conflict and we don't really have to deal with that at all.
@stephenbach Happy to work on that if you want

[2021-05-26 19:57] stephenbach commented on #29
Sure, help is always appreciated! I'll tag you too. I was thinking we'd just modify `TemplateCollection` to read and write from the directory. We could add some code to handle modifications to avoid rewriting files that haven't been modified. Maybe read everything once and only write/reread files that are modified? Not sure if that's doable with the `@st.cache` annotation.

[2021-05-26 20:11] arnaudstiegler commented on #29
yes, that makes sense.
I'm not super familiar with the repo yet, but it sounds like we could create a helper class, one per dataset that will link to the corresponding template.yaml. So that we would read/write with the class corresponding to the dataset
`TemplateCollection` would be reading all files / init those helper classes

[2021-05-26 20:29] stephenbach commented on #29
Yup, that could work nicely! The only reason I can see that we need to read them all is because we allow users to filter based on how many templates there are for a dataset. So another way you could do it is read that info once and only then touch the modified files after that. Not sure which is better.

[2021-05-26 20:45] VictorSanh commented on #26
+ add a step before submitting for code quality/style:

[2021-05-27 05:59] manandey opened #33 "Datasets which requires manual download failing to load with object has no attribute 'keys' error"
I think we need to handle the datasets which require manual download (https://huggingface.co/docs/datasets/loading_datasets.html#manually-downloading-files). eg. msr_zhen_translation_parity, hippocorpus, msr_genomics_kbcomp etc.

[2021-05-27 13:25] arnaudstiegler commented on #29
Have a draft for that, will open a PR by end of day to get some feedback.

It does one full-read, and selected writes on modified files. However, it does require to keep in mem all templates from all datasets (we could circumvent that, but I don't think it's worth the effort).
As indicated by Victor, I changed the `templates` folder so that it contains one folder per dataset, and if applicable sub

[2021-05-27 18:56] VictorSanh commented on #33
Yes, for the moment, I think we can simply skip the datasets that require manual construction/download (such as C4 for instance).

If you have already identified some of them, would you mind tagging them here in [this list](https://docs.google.com/spreadsheets/d/10SBt96nXutB49H52PV2Lvne7F1NvVr_WZLXD8_Z0JMw/edit?usp=sharing) in the comments column?

[2021-05-28 01:07] manandey commented on #33
Sure, I will update the list in the spreadsheet.

[2021-05-28 19:17] stephenbach commented on #29
Closing for now since this was essentially resolved by #34, even though we didn't actually create unique IDs.

[2021-05-28 19:17] #29 closed

[2021-05-28 21:21] VictorSanh opened #36 "App to scroll through an entire prompted source"
It's sometimes hard to cover all the cases especially if you are not aware of them.
For instance, I was prompting the DROP dataset, but didn't initially realize that:
- the "spans" field always contain multiple entries in the validation split
- there can also be multiple spans in the train split... which made it not straightforward how to combine them (especially if you don't know much about the d

[2021-05-28 21:29] VictorSanh commented on #29
After talking with @arnaudstiegler, I came to the realization that there is another advantage to using uids.
Right now it's a pain in the *ss to change the name of a template through the app after it's created (you basically need to delete it and create a new one, or directly edit the YAML file). IDs would bypass this issue since you could have a text box with the template name, independently of t

[2021-05-28 21:53] VictorSanh commented on #4
Closing it since it is adressed

[2021-05-28 22:34] arnaudstiegler commented on #29
Sure, I can open a PR that will:
- assign a uuid to each template that is created
- use the uuid as key to retrieve templates
- display the template name on the UI, and allow updates

[2021-05-31 14:59] stephenbach opened #39 "Inconsistent output for code quality checks"
See this for an example: https://github.com/bigscience-workshop/promptsource/pull/21/commits/bc0a8f1ce7ecb8b0c9c40805b2dfd0dedbcb4226

`make style` says that it is reformatting `promptsource/promptsource.py` but  there is no diff afterwards. Rerunning `make style` produces the same output and `make quality` fails, saying that it would be reformatted.

[2021-05-31 15:02] #20 closed

[2021-05-31 15:09] tianjianjiang commented on #39
I will investigate it.
(IIRC I encountered a similar situation, but since the `make style/quality` commands are copied from HuggingFace so I figure that would be a low priority issue.)

[2021-05-31 15:14] stephenbach commented on #39
Thanks! Some more info:

This is the diff it wants
[code]
When I make that change manually, and then run `make style` it says 5 files left unchanged BUT it actually changes promptsource.py back to the 2-line import and we're back in the same state.

The only change I've made to your initial config @tianjianjiang is that I added `--max-line-length 119` to flake8 because it seemed inconsistent with

[2021-05-31 15:15] manandey opened #40 "Dataset Schema getting displayed twice"
![image](https://user-images.githubusercontent.com/6687858/120213721-2d1dcf80-c251-11eb-8193-23fb6ace210e.png)

[2021-05-31 15:18] manandey commented on #40
Should I submit a PR for this @stephenbach ?

[2021-05-31 15:18] stephenbach commented on #40
Thanks, will look now. Good chance it's related to #21

[2021-05-31 15:18] stephenbach commented on #40
@manandey Sure, if you've got the fix. Thanks!

[2021-05-31 15:22] stephenbach commented on #40
Yeah, lines 217--218 are just duplicates that should be deleted.

[2021-05-31 15:25] #40 closed

[2021-05-31 15:26] tianjianjiang commented on #39
I suspect that's an unwelcome side effect from `isort`, I will look into `isort`'s options.

That is simplified from `datasets` and `transformers` but admittedly the latter has a set of more sophisticated formatting routines that could be more precise and consistent. I will also look into it.

[2021-05-31 16:14] VictorSanh commented on #39
Yes, if i remember correctly, there is some inconsistency between black and isort import conventions -> https://github.com/PyCQA/isort/issues/1518
Don't have a solution on top of my head, until we find it, let's ignore tests and merge @stephenbach

[2021-05-31 16:15] VictorSanh commented on #33
Added an explicit flag in [this commit](https://github.com/bigscience-workshop/promptsource/commit/2c76bc06fcdacd66cebbece2a3a831b1aa75f466#diff-1401cba615c695ccf5e53b264a6269f9a823a03cd00fdf2120d5117e00850326)

[2021-05-31 16:15] #33 closed

[2021-05-31 16:53] elsanns commented on #36
Hi @VictorSanh,

Great idea.
I have been thinking about adding an `Evaluate` (or `Test`) button in the main app, printing out the result of any Jinja expression (from the `Prompt` field) in the current context. It can be useful for:
- candidate prompts
- parts of Jinja expressions to be used in prompts
- browsing through the dataset
- getting to know Jinja

Once the viz app is integrated, it could

[2021-05-31 17:16] arnaudstiegler commented on #39
If the problem is from a black/isort compatibility, I believe we can fix that using this:
https://pycqa.github.io/isort/docs/configuration/black_compatibility/

You define a config file for isort and have "black" for the profile

[2021-05-31 17:29] VictorSanh commented on #36
@elsanns isn't what you are describing the actual behavior on the main app? When you update (and save) the "Template" field, it updates on the right ("Template output") the result.
Sorry I misunderstood something

[2021-05-31 17:45] elsanns commented on #36
@VictorSanh Yes but it takes saving and deleting the template if the user is not happy with the output. I thought about something more lightweight and, ultimately, applied to a subset of examples, not just one record (like the viz app, after integration)
It is just an idea, I guess we would need to figure out how to integrate the viz app with the main module and then decide how it fits in.

[2021-05-31 18:28] VictorSanh commented on #36
Aaaah I see what you mean!
I think for now we can just use it as it is (saving and then delete if necessary). Jinja is pretty easy to learn!
It makes me think that we should add some "jinja - crash course" section in the template writing guide (#26)

[2021-05-31 18:29] stephenbach opened #45 ".DS_Store breaks template loading"
Went to look at the templates folder in OS X and broke template loading.) (For non-Mac users, Finder creates a hidden file for storing view preferences.)
[code]
Should skip hidden files in the templates directory.

[2021-05-31 18:30] stephenbach commented on #36
+1 to Jinja crash course! A first draft for #26 is on my todo list today.

[2021-05-31 18:43] VictorSanh commented on #39
@tianjianjiang after reading @arnaudstiegler's comment, you also need to import the `setup.cfg` file!
I fixed it in commit https://github.com/bigscience-workshop/promptsource/commit/c1ec687f4e04cbb01117a18fb882fd471b009564 and the tests seem to be back to normal

[2021-05-31 18:47] #39 closed

[2021-05-31 19:40] VictorSanh commented on #36
Closing as we just merged #44

[2021-05-31 19:40] #36 closed

[2021-05-31 20:39] #45 closed

[2021-06-01 03:39] tianjianjiang commented on #39
@VictorSanh @arnaudstiegler Thank you guys and sorry for the late reaction.
BTW, I was thinking at least we can move `isort` to the top and introduce `autoflake` for following `flake8` recommendations, but just something less urgent I suppose.

[2021-06-01 16:12] VictorSanh opened #48 "Add some dummy checks to the jinja template"
Add a suite of sanity checks on the jinja template. for instance,
- are all variables called in the template actual keys in the example dictionary?
- template content is a duplicated with another one

Please add ideas!

+ can duplicate these tests into the "common pitfalls" section of the contribution guide (#26)

[2021-06-01 16:17] tianjianjiang commented on #48
I was trying to find a way of augmenting an jinja template without altering its variables. If this one can have variables actually separated, it could be really helpful.

[2021-06-01 17:22] tianjianjiang opened #49 "parse or annotate Jinja template | before augmentation → augmenters know where the off-limit variables are"
related: #10 #48

One of the quick'n'dirty ways that I imagine comprises the 4 steps below:
1. Get the variable list of a template string
[code]
2. Send `parsed_content` and `variable_list` to an augmenter
3. An augmenter replace variables with some special tokens that its algorithm won't touch (to some extent)
4. After augmentation, put variables back to where they were

[2021-06-01 17:27] stephenbach commented on #49
Thanks! Here's an example I've been playing with:

[code]

An issue is that important information might not be expressed as variables. (For example, the dataset schema doesn't always provide the most natural name for each category, see, e.g., TREC. So how could we update this template?

One option is to just single braces or something and parse them out when rendering:
[code]

Another, which I thi

[2021-06-01 17:32] stephenbach commented on #4
Reopening since this might not have been resolved. I think the proposal is to have optional user-written functions that determine whether an example is converted to a prompt or skipped.

@srush do you have a preferred format? Seems like Jinja could work here too, e.g.,
[code]
?

[2021-06-01 17:38] tianjianjiang commented on #49
@stephenbach Thank you for the nice examples, exactly what I was considering!
Assuming the author of an augmentation algorithm has almost full control of the outcome, e.g., I know that back-translation can be tricked with arbitrary tokens such as HTML tags or just X, Y, Z.
For example-1,
[code]
I may change it to
[code]
before sending it to the augmenter.

A similar setting can happen for example-

[2021-06-01 17:46] stephenbach commented on #49
Gotcha, that makes sense. So viewing this from the perspective of what constraints do we need to enforce from the beginning, we should figure out what the lightest weight addition is that leaves options open for augmentation. Curly braces are lightweight, but it gets a little messy if we want to add escaping so someone can use a curly brace as actual punctuation in the template. If we think curly

[2021-06-01 19:12] stephenbach commented on #49
Current proposal on the table is to wrap anything that is protected in Jinja. For literal text, we can just do
[code]
I think it's a fine solution. More sophisticated code for generating text will thus be protected (and possibly handled specially) as well.

[2021-06-02 20:00] srush commented on #4
Yeah, I think just ignoring strings where  `str.strip() == False` solves my problems in a convenient manner. This probably doesn't even need to be included in the tool, just the docs.

[2021-06-02 20:00] #4 closed

[2021-06-03 00:49] tianjianjiang opened #55 "[Epic] Data Augmentation Issue Overview and Discussions"
@tianjianjiang (Mike) hopes that this issue ticket will act like an Epic issue that covers potential tasks of data augmentation.
Please kindly note that Mike is merely the first member who tries to work on data augmentation and by no means an authority of this topic. Feel free to participate in any possible way.

# Issues (PRs)
- #10 (#19)
- #49

# Request for Proposal
Although the section title i

[2021-06-03 02:33] tianjianjiang commented on #49
Pardon me for nudging @srush @shanyas10 @abheesht17 here for the above questions from @stephenbach .
I think you guys are also interested in this topic and #55.

[2021-06-03 13:13] stephenbach commented on #49
Also would benefit from your opinion @tianjianjiang 🙂 This proposal is currently what’s in the template writing guide (#51 ). As long as this seems sufficient to address the concerns you raised about leaving the door open for different augmentation strategies, I think we’re all good.

[2021-06-03 14:13] VictorSanh commented on #49
The solution of wrapping anything that is protected in Jinja looks good to me and it answers both the constraints for the augmentation and for writing prompts (simple enough).
Let's go with this solution

[2021-06-03 14:25] VictorSanh commented on #55
this plan looks good to me!

Since we are in agreement that protecting text with jinja is a good solution (https://github.com/bigscience-workshop/promptsource/issues/49#issuecomment-853902299) let's go with that.

we can discuss directly on issues/pull requests. I'll take a closer look at your PR later today.

(note that we'll start the prompt sourcing sprint independently of the augmentation pipe

[2021-06-03 15:10] #26 closed

[2021-06-03 15:10] #49 closed

[2021-06-04 07:35] sbmaruf opened #61 "GUI APP stuck for large dataset."
I see that for a large dataset the API stuck. Is it possible to download only a part of the data for a large dataset?

[2021-06-04 10:34] stephenbach commented on #61
I don't think so. Since each dataset in the datasets library is loaded by an installer script, it's all or nothing. The API doesn't have any capability AFAIK to download a sample of examples.

In case it's helpful, the command line where you run streamlit will usually show a progress bar for the download. And of course, you only need to download it once. You can also browse datasets on https://hug

[2021-06-04 10:37] sbmaruf commented on #61
Thank for the explanation.
Go ahead and close the issue when you feel the discussion is over.

[2021-06-04 14:40] #48 closed

[2021-06-04 15:42] stephenbach opened #66 "Template checking fails for datasets that require additional imports"
We are creating a dataset builder to get the features. While we can do this without downloading the data, `datasets.load.prepare_module` can try to import things that are not necessarily installed, causing the automated tests to crash.

Example: https://github.com/bigscience-workshop/promptsource/pull/63/checks?check_run_id=2747124281

Options:
1) Skip tests on such datasets
2) Add needed dependen

[2021-06-04 17:31] VictorSanh commented on #66
I am in favor of 2 even though we'll have to be quite careful of not introducing version conflicts...

I can ask around for 3.

[2021-06-04 17:44] stephenbach commented on #66
Ok, will go with 2. I'll list everything added in this way in a commented section in case we want to take them back out at some point. Will leave this open in case anyone has an idea for 3.

[2021-06-06 14:35] #61 closed

[2021-06-06 14:36] stephenbach commented on #66
Closing for now. We've still only hit this once for `samsum`.

[2021-06-06 14:36] #66 closed

[2021-06-07 06:45] arunraja-hub opened #94 "tweet_qa: failed to generate dataset"
I am working on the prompts for tweet_qa.
After downloading the tweet_qa dataset, I encountered the following error on the app:

[code]

[2021-06-07 20:43] stephenbach commented on #94
Thanks! I'm not able to re-create this error. (I can download and view `tweet_qa` on main. Would you try deleting your dataset cache (`~/.cache/huggingface/datasets`) or at least the `tweet_qa` subdirectory, restart the app, and try again?

[2021-06-08 06:13] gchhablani opened #106 "Option to add configuration names manually"
I was trying to add templates for `babi_qa` dataset: https://huggingface.co/datasets/babi_qa
This dataset has a conditional-text-generation task that involves multiple types of questions. It has over 20 configurations per set. And it has 8 sets. See [data splits](https://huggingface.co/datasets/babi_qa#data-splits).

However, in the app, only the following configurations appear.
![image](https://u

[2021-06-08 14:25] VictorSanh commented on #106
It seems like there is another level of complexity (`task_no`) that was added solely for BabiQA

<img width="883" alt="Capture d’écran 2021-06-08 à 10 22 31 AM" src="https://user-images.githubusercontent.com/16107619/121202803-95694400-c843-11eb-805f-11520d2e27b3.png">

Can you skip this dataset for now?
For the sake of the prompt sprint, I don't think it's worth working on the app for just one

[2021-06-08 16:04] zaidalyafeai opened #115 "Error in loading proto_qa dataset"
When attempting to view the `proto_qa` dataset I get the following error

![image](https://user-images.githubusercontent.com/15667714/121219259-2b28c180-c88c-11eb-80fb-f09956db8fd7.png)

[2021-06-08 16:16] VictorSanh commented on #115
Skip for now.
Error on `datasets` side. opened an issue there: https://github.com/huggingface/datasets/issues/2459

[2021-06-08 16:21] gchhablani commented on #106
Yes. This was needed for this dataset due to the number of configurations it allows. I'll skip this one for now.

Thanks @VictorSanh :)

[2021-06-08 16:21] #106 closed

[2021-06-10 16:27] sbmaruf opened #172 "Template is rendering Error in `Prompted dataset viewer`"
After writing the template I don't see any error generated. But when I go the Prompted dataset viewer I get the following error,

[code]

check the details here, https://github.com/bigscience-workshop/promptsource/pull/170/commits/d97c6b2700b94abd161b1561c7fa0052d7081404

[2021-06-10 16:41] zaidalyafeai commented on #115
The fix was merged. The error is still there. Maybe need to update from source.

[2021-06-10 16:42] stephenbach commented on #115
The cause is that we pinned the version of datasets. @VictorSanh we can upgrade or skip this dataset I guess?

[2021-06-10 16:45] stephenbach commented on #172
Can you separate these into two issues please?

[2021-06-10 16:52] sbmaruf opened #174 "Additional `<p>` tag in the template output"
After writing the template, on the right side, there is a sample shown in the app.
I see `<p>` tags inside the samples (from the inspect of the browser). I am not sure if this is because of HTML or not. But we need make sure that it will not stay in the final version of the training data.

[code]

check the details here, https://github.com/bigscience-workshop/promptsource/commit/d97c6b2700b94abd16

[2021-06-10 16:52] sbmaruf commented on #172
Done.

[2021-06-10 18:02] zaidalyafeai commented on #115
@stephenbach , already marked a skip for the dataset in the sheet.

[2021-06-10 19:51] #172 closed

[2021-06-10 23:10] yongzx opened #187 "Different Rendering in Sourcing Mode and Prompted Dataset Viewer Mode"
I encounter a bug that arises when I switch between the two modes.

Expected Behavior: the second "no" text should not appear in the Prompted Dataset Viewer Mode.

![image](https://user-images.githubusercontent.com/29521208/121607219-a79eda00-ca1d-11eb-833a-0f06840c5e4a.png)

![image](https://user-images.githubusercontent.com/29521208/121607310-ce5d1080-ca1d-11eb-9aa3-8f5fccd38084.png)

Dataset: M

[2021-06-10 23:32] yongzx opened #188 "Error in loading definite_pronoun_resolution dataset"
![image](https://user-images.githubusercontent.com/29521208/121609736-7ffe4080-ca22-11eb-9c7d-acebf0e1819f.png)

It seems that the data source http://www.hlt.utdallas.edu/~vince/data/emnlp12/train.c.txt is not available.

I have marked "Skip" on the spreadsheet, but I would like to bring this issue to attention.

[2021-06-10 23:35] stephenbach commented on #188
Thanks, looks like all of hlt.udallas.edu is down, so maybe someone will fix it soon. 🤞  Leaving open for now so we check again in a day or two.

[2021-06-11 03:06] VictorSanh commented on #115
yes let's skip for now.
we can always be in sync with datasets:master but it's not the priority right now

[2021-06-11 21:45] sbmaruf opened #203 "Trivia-QA dataset download failed."
Could not download the trivia-QA dataset.

[code]

Can we download the dataset from any other source? We can also include the `nq_open` prompt blindly to the `trivia-qa` task since both of them are open domain QA task.

[2021-06-12 11:21] sbmaruf opened #216 "`find_undeclared_variables` issue on template"
Because of this [test](https://github.com/bigscience-workshop/promptsource/blob/main/test/test_templates.py#L50) my pull is failing.

Pull on https://github.com/bigscience-workshop/promptsource/pull/170
There is an unused variable needed to update a dictionary. Otherwise we need `do` extension access. Please see the template,

[code]
there is no error in the template but it is failing because of t

[2021-06-12 12:23] gchhablani commented on #216
I checked #214. Here, you need to define _blank2 on top of all your Jinja, outside the if conditions. Inside the if conditions, you can update but not create a new variable. I faced a similar issue on some PR.

A PR where the same thing happened: https://github.com/bigscience-workshop/promptsource/pull/168

[2021-06-12 19:02] yongzx commented on #187
This can be fixed by the following change from `{{["no", "yes"][score2 > 3] if candidate2 != ""}}` to `{{["no", "yes"][score2 > 3] if candidate2 != "" else '' }}`

[2021-06-12 19:02] #187 closed

[2021-06-12 19:04] yongzx commented on #216
The problem is that you have defined set these variables inside an if-else block.

[code]

This is the same issue that I have encountered for my PR: #223 .

[2021-06-12 19:38] sbmaruf commented on #216
Thanks @yongzx  @gchhablani . It solves the issue.

[2021-06-12 19:38] #216 closed

[2021-06-14 00:46] VictorSanh commented on #174
the output is post-processed to highlight the jinja variables filling
you can always the "raw" output in the `show_templates` Github actions call when you open a PR

[2021-06-14 01:05] VictorSanh commented on #203
I couldn't reproduce your error. The download worked fine for me
Can you clear the cache and redownload the dataset?

[2021-06-14 05:43] srulikbd opened #235 "youtube_caption_corrections - downloading failed"
this it the error messege:

`NonMatchingSplitsSizesError: [{'expected': SplitInfo(name='train', num_bytes=610252351, num_examples=532812, dataset_name='blog_authorship_corpus'), 'recorded': SplitInfo(name='train', num_bytes=614706451, num_examples=535568, dataset_name='blog_authorship_corpus')}, {'expected': SplitInfo(name='validation', num_bytes=37500394, num_examples=31277, dataset_name='blog_au

[2021-06-14 14:22] abheesht17 opened #244 "MRQA Dataset: Unable to download the dataset"
I am unable to download the MRQA Dataset. I am not sure if it is a system-specific error.
![image](https://user-images.githubusercontent.com/31360468/121907671-e7313300-cd49-11eb-8807-8cc97a21ed32.png)

Stacktrace:
[code]

[2021-06-14 17:25] stephenbach commented on #244
Hi, I'm not able to reproduce the error. Would you please try clearing your dataset cache, restarting the app, and seeing if that fixes it?

[2021-06-15 14:10] abheesht17 commented on #244
Aah, I was using an older version of ```datasets```. It works with 1.7.0. Closing this issue.

[2021-06-15 14:10] #244 closed

[2021-06-15 14:13] sbmaruf commented on #203
finally downloaded it using a vpn.

[2021-06-15 14:13] #203 closed

[2021-06-15 19:16] VictorSanh commented on #235
can you clear the cache and retry to download it? it worked fine for me

[2021-06-15 20:25] #174 closed

[2021-06-16 16:30] #94 closed

[2021-06-18 07:38] srulikbd commented on #235
you are right, it's ok.

[2021-06-18 07:38] #235 closed

[2021-08-04 15:09] NohTow opened #326 "Markdown interpretation mess up examples visualisation in prompted dataset viewer mode"
In prompted dataset viewer mode, if the template contains two `_`, it is interpreted as markdown syntax and begin writing the example in italic until the second `_`.

This comportement has been observed on `winogrande_winogrande_xs_question_sentence_answer` and `winogrande_winogrande_xs_sentence_question_answer`. A picture of the result is attached.

I don't know how promptsource will behave in ca

[2021-09-06 15:30] zaidalyafeai opened #352 "Jinja highlighter not working well for a dark template"
![image](https://user-images.githubusercontent.com/15667714/132239196-d92c271b-19f7-4e93-90ab-040ce7e85ffa.png)

[2021-09-06 18:30] VictorSanh opened #355 "Linebreaks are rarely showing"
Single linebreaks are not faithfully displayed on the streamlit interface (viewer mode or sourcing mode).
Example from glue/mrpc:
[code]
will not faithfully display the linebreak between sentence1 and sentence2

[2021-09-09 21:32] VictorSanh opened #380 "Streamlit version and `beta_columns`"
`beta_columns` was moved out of beta in the latest `streamlit` version (at least `0.88.0` but might have happened before). We should replace these `beta_columns` into `columns` (and pin the streamlit version), otherwise there are warnings popping up everywhere.

[2021-09-12 18:24] #352 closed

[2021-09-13 20:15] srulikbd opened #416 "Interface doesn't load correctly"
I'm running on windows 10 with python 3.9
the web interface used to worked until I tried cloning the repo again..
this is the error:

[code]

[2021-09-13 20:42] stephenbach commented on #416
I'm not sure of the root cause, but can you try downgrading to Python 3.8? I've seen that fix this error on OSes other than Windows.

[2021-09-13 21:03] srulikbd commented on #416
I have got the same problem using python 3.8
what else should I do?

thx!

[2021-09-14 08:05] srulikbd commented on #416
I restored the previous code which was ok, and now it's also working so I'm fine with it.

[2021-09-14 08:05] #416 closed

[2021-09-14 15:57] zaidalyafeai opened #424 "Adding Story Cloze which requires manual download"
To allow manual download of a dataset, we can add a `data_dir` field in the builder. It will be helpful to know what the `conf` variable does.

[code]

 Also, since Story Cloze is a special case we can add it to the `dataset_list` field i.e `dataset_list += ["story_cloze"]`.
A couple of things that we need to figure out ?

1. What is the directory for storing the dataset locally in the server?
2.

[2021-09-14 17:05] tianjianjiang commented on #416
Just FYI: I've encontered a different issue with session on macOS but not as serious as yours. Therefore I guess something isn't stable with session states.

On the other hand, if you have time to try it, I would recommend you switch to WSL if haven't. (Judging by the error message you provided.)

[2021-09-17 13:16] zaidalyafeai opened #444 "Streamlit error version 0.88.0"
Version `0.88.0` causes the following error
[code]
Downgrading to version `0.82.0` seems to fix the error

[2021-09-17 13:19] zaidalyafeai commented on #444
version `0.88.0` gives a couple of warnings as well

[code]

[code]

[2021-09-17 16:53] tianjianjiang commented on #444
As @VictorSanh already linked, this is under discussion with #385.

[2021-09-18 14:57] zaidalyafeai commented on #424
being resolved here https://github.com/bigscience-workshop/promptsource/pull/443

[2021-09-20 22:33] Iwontbecreative commented on #444
This is due to: https://github.com/streamlit/streamlit/commit/a054e3819228bc5b633f9844971084f6586e041f#diff-2dacb2fa7182e4863961dcc6c1c1ff31c32021ee6ed4f501d70e75837b312ece

We should simply be passing the value None, will send a PR.

[2021-09-21 22:03] zaidalyafeai commented on #424
Other issues also solved in https://github.com/bigscience-workshop/promptsource/pull/447

[2021-09-21 22:03] #424 closed

[2021-09-23 10:23] wade3han commented on #416
Hello, @srulikbd @tianjianjiang. I encountered same issue on macOS, and I can't find the way to solve this.
My environment has `streamlit==0.82.0`, and I worked on `fa7a84d`. My python version is 3.8.

[code]

[2021-09-24 01:43] tianjianjiang commented on #416
@wade3han Please try #411 and let me know whether it works or not, thank you!

[2021-09-24 03:25] wade3han commented on #416
Thank you, but it is not working again unfortunately. With the same error.

[2021-09-24 03:58] tianjianjiang commented on #416
@wade3han

I just tested and confirmed that only python37 will work.

A brief background:
Mac had 2 significant changes that python must address accordingly. One is the Apple Silicon (M1), another is the strict policy of unsafe `fork()`. Therefore, python38 (backported from python39) is the minimum requirement for M1, and its multiprocessing by default uses `spawn()` instead of `fork()`.

Please o

[2021-09-24 05:54] wade3han commented on #416
@tianjianjiang Oh it works! Thanks. Downgrading the version of python (3.8 -> 3.7) works.

[2021-09-26 01:17] awebson opened #455 "Cached target files are all -1"
Currently, these target files have all -1. Colin proposed a fix in Slack and I will try that first thing tomorrow morning.

[code]

[2021-09-26 01:23] stephenbach commented on #455
I'm not sure that this is related to whitespace in `get_fixed_answer_choices_list()`. First, we strip whitespace from the elements:
https://github.com/bigscience-workshop/promptsource/blob/main/promptsource/templates.py#L164
Second, at least some templates e.g., winogrande_does_underscore_refer_to doesn't have fixed answer choices anyway, so this method returns None

[2021-09-26 01:26] awebson opened #456 "Rank eval of vanilla D4"
Since Colin is using the TPUs exclusively for training, @VictorSanh would you please use Jean Zay to evaluate the vanilla D4 checkpoints instead of other ablations? You don't have evaluate all checkpoints, maybe schedule them such that, 1/2 steps checkpoint first, then 1/4 and 3/4 steps checkpoints, then 1/5, 2/5, 3/5, 4/5 checkpoints, and so on…

Also, if ReCoRD is slow to eval we should skip it.

[2021-09-26 01:27] craffel commented on #455
For context/posterity, this is what I posted in Slack:

https://github.com/bigscience-workshop/promptsource/blob/b491ab93b9bdd8f1e0d6069f3c2956fa83c5ee7d/promptsource/seqio_tasks/tasks.py#L45
so the string_label_to_class_id postprocessor is getting applied to the task here:
https://github.com/bigscience-workshop/promptsource/blob/b491ab93b9bdd8f1e0d6069f3c2956fa83c5ee7d/promptsource/seqio_tasks/ta

[2021-09-26 01:30] stephenbach commented on #455
Do any of these templates have fixed answer choices? All the ones I've checked so far have per-example choices. Is the issue that this evaluation should use `get_answer_choices_list(example)`?
https://github.com/bigscience-workshop/promptsource/blob/main/promptsource/templates.py#L134

[2021-09-26 01:40] awebson opened #457 "Special eval scripts"
Since we have the string outputs of all tasks, in principal we should be able to run arbitrary metrics, especially for datasets require fancy metrics, it's good to double check seqio's results.

@lintangsutawika has already got the official eval scripts for ReCoRD. More to-do:

1. SQuAD v2
2. Natural Questions and TriviaQA (see below)
3. DROP
4. CoQA
4. Quac
(non-exhaustive for now, but I will upd

[2021-09-26 12:12] #188 closed

[2021-09-26 12:12] #115 closed

[2021-09-26 14:00] awebson commented on #455
I think Steve is right. I looked into this a bit and the fixed choices do not have superfluous whitespace. And per-example choices really should call `get_answer_choices_list(example)`, which is currently not implemented in tasks.py.

@stephenbach What exactly is the format of `example` that `get_answer_choices_list()` accepts? Just the raw string of a data example?

@craffel I think some seqio pr

[2021-09-26 14:05] stephenbach commented on #455
It’s expecting a dictionary like from the datasets library, but this can be changed if helpful.

[2021-09-26 15:49] srush opened #458 "Writing: Finalize dataset split image."
Need to know the exact splits for this figure.

[datasets (2).pdf](https://github.com/bigscience-workshop/promptsource/files/7231667/datasets.2.pdf)
e.

[2021-09-26 15:50] srush opened #459 "Writing: Broader Impacts Section"

[2021-09-26 15:51] srush opened #460 "Writing: Final run for the gpt-3 and bigbench figures."
These scripts need to be run and finalized for all the tasks. Currently there are about 20% missing or not working.

[2021-09-26 15:52] srush opened #461 "Writing: Adding cites for papers we took prompts from in generated prompt appendix."
We need to list all of the paper that we took prompts from in the appendix. I think these are in the yaml, but they are not clean. Someone needs to go through and pull them out.

[2021-09-26 15:57] srush opened #462 "Writing: Model and training details in body"
Probably would be faster to have someone who ran the experiments (@craffel ) write this particular section.

[2021-09-26 17:09] awebson commented on #458
If by "split" you meant task categories (the grey encirclement in your figure), please refer to the task_by_convention column in this [spreadsheet](https://docs.google.com/spreadsheets/d/1ELEM-BY5E-5Tqy34jguT91ChwAguoWfyDEN0OzOhjSk/edit#gid=1315886539), in which everything up to row 75 should be included in your figure. Thanks!

[2021-09-26 17:12] awebson commented on #460
I'm keeping track of them in #457

[2021-09-26 19:18] VictorSanh opened #463 "Tracking trainings and evals"
## Main runs

- D4 only (`finetune-t5-xxl-lm-d4-091621-512`)
    - [x] Training
    - [x] Eval
        - [x] Normal
        - [x] Rank
    - [ ] Eval intermediate checkpoints (cf #456)
 - D4 + GPT (`finetune-t5-xxl-lm-d4-gpt-091621/`)
    - [ ] Training
    - [ ] Eval
        - [ ] Normal
        - [ ] Rank
 - D4 only (`finetune-t5-xxl-lm-d4-all-091621`)
    - [X] Training
    - [X] Eval
        -

[2021-09-26 19:20] VictorSanh commented on #456
yes, will schedule intermediate checkpoints

[2021-09-26 19:28] #456 closed

[2021-09-26 19:33] awebson commented on #463
Quick typo fix: I think by `finetune-t5-xxl-lm-d4-all-091621` the third item of main runs you meant D4 + GPT + SuperGLUE.

[2021-09-26 20:06] srush commented on #459
Keeping track that @StellaAthena is looking into this.

[2021-09-26 20:09] VictorSanh commented on #463
ooops yup

Ooops yes indeed, good catch.

yup

[2021-09-26 21:58] VictorSanh commented on #461
Did a spreadsheet [here](https://docs.google.com/spreadsheets/d/1tk5mUT7-Az5SbW7J6h7aSsKRO6XATV5vaasUTejShEU/edit?usp=sharing).
The `\cite ref` corresponds to the bibtext entries in the latex (I added the additional ones under `supplementary.bib`)

[2021-09-26 21:58] VictorSanh commented on #461
let me know if you need more

[2021-09-26 22:07] srush commented on #461
beautiful, thanks.

[2021-09-26 22:10] srush commented on #458
Perfect. and `do_train` and `do_eval` refer to which side they are on?

[2021-09-27 00:22] awebson commented on #458
Yup! With the caveat that they reflect the vanilla "D4 only" training mixture, which I will explain in the main paper.

[2021-09-27 01:44] VictorSanh commented on #463
Update:
- `finetune-t5-xxl-lm-d4-all-091621`'s rank eval done
- `finetune-t5-xxl-lm-d4-gpt-091621/` training is running
- `finetune-t5-xxl-lm-d4-091621-512` duplicate training is running

[2021-09-27 09:01] lintangsutawika commented on #457
There are a few points to note for some datasets:

1.  Natural Questions - The original eval scripts measures text span while T0 generates an answer. We would need to agree on how to adapt generated text to span or alternatively adapt the ground truth span to text string. I think the latter would be better.
2. CoQA - The evaluation set has 7983 samples that consist of 500 context samples with mult

[2021-09-27 13:50] awebson commented on #457
1. Yes. For all tasks we ignore numerical span indices and always measure based on text.
2. I will take a look at how other papers did this and revisit this.

[2021-09-27 16:58] craffel commented on #455
I'm confused. If a dataset has per-example answer choices, shouldn't `template.get_fixed_answer_choices_list()` return None? And therefore the `t5.data.postprocessors.string_label_to_class_id` postprocessor, which is the source of these -1s, would not be applied? https://github.com/bigscience-workshop/promptsource/blob/main/promptsource/seqio_tasks/tasks.py#L45?

[2021-09-27 16:59] craffel commented on #457
For TriviaQA, NQ, and WebQuestions, we are evaluating on the open domain variant of the task and should use the evaluation procedure shown here: https://github.com/google-research/google-research/tree/master/t5_closed_book_qa

[2021-09-27 16:59] craffel commented on #459
We should finish this ASAP, ideally, so that we can have the social impact WG take a look.

[2021-09-27 17:00] craffel opened #464 "Writing: Carbon footprint section"

[2021-09-27 17:04] craffel commented on #463
@VictorSanh `finetune-t5-xxl-lm-d4-gpt-091621` is done, please eval away.

[2021-09-27 17:06] craffel opened #465 "More-than-one-OG prompt ablation"
We currently have one ablation where we only train the model on one OG prompt per dataset. We can do an additional ablation where we train it on M OG prompts and N non-OG prompts. There have been various proposals for the values of M and N. I suggested we set M to the largest possible value for each dataset (i.e. however many OG prompts have been proposed) and N to zero. This would allow us to mea

[2021-09-27 17:11] VictorSanh commented on #463
Downloading checkpoints and evaluating right now!

[2021-09-27 17:20] VictorSanh commented on #465
After giving it much thought, I am also in favor of setting M to max, and N to 0.
Looking at the results, it seems like training on a lot of prompts to see good generalization. So the more prompts/datasets the better.
In this sense D4+GPT only OG templates sounds like the right ablation to do.

[2021-09-27 18:44] awebson commented on #455
Not sure why but, for example, calling `template.get_fixed_answer_choices_list()` on Winogrande’s "does underscore refer to" prompt returns `['', '']` which of course evaluates to True in Python.

[2021-09-27 18:46] stephenbach commented on #455
Ok, that's the issue. It's not correctly detecting that the answer choices depend on the example. Will get PR posted asap.

[2021-09-27 19:08] VictorSanh opened #466 "Writing: acknowledgements"

[2021-09-27 19:53] VictorSanh commented on #463
Update: `finetune-t5-xxl-lm-d4-091621-512`'s intermediate checkpoint (step 1112200) is done and uploaded.

[2021-09-27 20:14] stephenbach commented on #455
Potential fix in #467.

[2021-09-27 20:59] craffel commented on #463
Can we also evaluate the second-to-last checkpoint for `finetune-t5-xxl-lm-d4-091621-512`? That's an ablation I thought would be good to include.

[2021-09-27 21:01] StellaAthena commented on #459
I am currently waiting on training statistics from @VictorSanh to do carbon/energy analysis.

I can put a proposal for bias analysis before the Social Impact WG tonight or tomorrow, though I won't be avaliable tomorrow to respond to questions.

What were people thinking of including under the "Social impact" heading that isn't those two categories?

[2021-09-27 21:04] craffel commented on #459
Carbon/energy analysis is done - no need to worry about that. If you can work on the bias piece before tomorrow, that's great. Not sure if this falls under bias, but it seems like it could be pertinent to include some discussion of dual-use, etc. But I wasn't thinking of anything outside of that.

[2021-09-27 21:06] VictorSanh commented on #459
@StellaAthena, fwiw, I shared with you the statistics on slack a few hours ago, did you receive it?

[2021-09-27 21:07] VictorSanh commented on #463
Yup, scheduled.
NB: multiple people are running big job arrays on the cluster right now, so evaluation is slower than what I had this weekend

[2021-09-27 21:21] StellaAthena commented on #459
Oh, I didn't get a notification. Weird.

@craffel Gotcha.

[2021-09-28 01:33] craffel commented on #465
PR #468

[2021-09-28 15:07] tianjianjiang commented on #444
Not the same thing but another python>=3.8 issue: https://github.com/bigscience-workshop/promptsource/issues/416#issuecomment-926323233

[2021-09-28 15:23] #455 closed

[2021-09-28 15:25] craffel opened #469 "Run on Big Bench"

[2021-09-28 15:35] srush opened #470 "Writing: Fix Splits figure"
@yongzx  is working on this .

[2021-09-28 15:36] srush opened #471 "Writing: Ablation tables for appendix (help needed)"
This is something someone can help with to generate table.

[2021-09-28 15:38] yongzx commented on #470
Version 1
[T0 Datasets.drawio.pdf](https://github.com/bigscience-workshop/promptsource/files/7245601/T0.Datasets.drawio.pdf)

Things to do:
- [ ] Needs to trim white spaces in PDF export file.
- [ ] On the same note, make it wider by taking advantage of the fact that we have more width than height.
- [ ] align the bigger boxes across the side? (QA extractive with QA extractive)

[2021-09-28 16:13] VictorSanh opened #472 "SuperGLUE test results"
A few steps:
- [ ] Creation of 5 accounts under "T0 team"
- [ ]  Fix templates of SuperGLUE to remove conditional prompting (i.e. `label=-1`) -> needs to check some plumbing https://github.com/bigscience-workshop/promptsource/blob/d00e08e65f77a6ba363dc496bf3fc8bf4edc6ae4/promptsource/seqio_tasks/utils.py#L40
- [ ] Recache (especially test sets)
- [ ] Run predictions
- [ ] Convert predictions
- [ ]

[2021-09-28 16:15] VictorSanh commented on #469
👀 @StellaAthena and @lintangsutawika

[2021-09-28 16:17] craffel commented on #469
@lintangsutawika 's owning this and hopes to get results in the next 24h.

[2021-09-28 16:17] VictorSanh commented on #466
@craffel could you add a few words to thank the BigBench team?

[2021-09-28 16:18] craffel commented on #466
Yes.

[2021-09-28 16:19] srush commented on #470
A couple changes from the spreadsheet (these were my fault):

- [ ] QQP and MRPC should be on the train side too.
- [ ] ReCoRD should be on the extractive eval side.
- [ ] OpenBook QA  should be multiple choice
- [ ] QASC is multiple choice
- [ ] Social I QA should be on both sides
- [ ] MultiRC is multiple choice
- [ ] Wiqa is multiple choice

[2021-09-28 17:04] yongzx commented on #470
@srush ReCoRD should be moved from Coreference to QA Extractive, or do I keep the "Record" in coreference?

[2021-09-28 17:28] craffel commented on #464
Done

[2021-09-28 17:28] #464 closed

[2021-09-28 17:33] #466 closed

[2021-09-28 17:38] srush commented on #470
@awebson any thoughts on record? It seems to be QA extractive in the table.

[2021-09-28 17:41] srush commented on #470
Also It looks like we have a lot of room wide. So I think 4 columns is the way to go (2 for train, 2 for eval. )

[2021-09-28 18:14] awebson commented on #470
Let's keep ReCoRD as extractive QA. I will explain in the paper how there is ambiguity on whether it (and quoref) can also be considered as coreference.

Also, in the spreadsheet I wrote "QA extractive",  "QA multiple-choice" for sorting purposes. In the paper and figures, we should write "Extractive QA", "Multiple-Choice QA", etc. to be easier to read.

Lastly, is it possible to avoid having data

[2021-09-29 01:12] VictorSanh commented on #463
*Should* have D4 + GPT's eval+rank eval tmrw morning

[2021-09-29 02:30] awebson opened #475 "Writing: Results, Discussion, and Heavy Editing Throughout"
Technically I only own the Benchmarking, Results, and Discussion sections, but forgive me that I will also heavily edit/rewrite the other sections for a coherent narrative (blame @epavlick for our obsession with writing.) I have already done a first pass of edits of the below, but will incrementally update them throughout the week:

- [x] 1 Introduction
- [x] 2 Related Work
- [x] 3 Measuring Gener

[2021-09-29 02:49] srush commented on #475
Awesome! Thanks for looking it over.

[2021-09-29 05:33] sbmaruf commented on #471
I can help. But where can I get the content of the table?

[2021-09-29 13:50] lintangsutawika commented on #469
Sample result.

[novel_concepts_finetune-t5-xxl-lm-d4-all-091621.json.zip](https://github.com/bigscience-workshop/promptsource/files/7252426/novel_concepts_finetune-t5-xxl-lm-d4-all-091621.json.zip)

Others are still running. I had a few hours of troubleshooting that was solved by downgrading the pytorch version I was using.

[2021-09-29 13:58] craffel commented on #469
Awesome! Do they provide an automated way of getting scores out?

[2021-09-29 14:32] lintangsutawika commented on #469
Yes, the evaluate_task.py pretty much does the heavy lifting. My work mostly covered adapting the T5 to the model codebase that basically has two types of prediction: generation and multiple choice.

[2021-09-29 14:37] craffel commented on #469
Ok, great. Eager to see the scores once inference finishes on all the tasks.

[2021-09-29 15:02] lintangsutawika commented on #457
Posting a colab that calls the special eval scripts for the above datasets.

https://colab.research.google.com/drive/1G2zxbvi96qxbOv6LNYvTTrcJxsBX_4Hr#scrollTo=IZVHnp_jx7qK

[2021-09-29 15:11] VictorSanh opened #477 "Bias/fairness quantitative measurements"
Two goals:
- have quantitative measurements for the paper's Broader impact section
- reflect these in the model cards when we release checkpoints

4 held out evaluation sets identified by the Evaluation WG:
- jigsaw_toxicity_pred
- crows_pairs
- winogender (AXG in SuperGLUE)
- winobias

At the current state, I see
`crows_pairs` and `winobias` prompted, `jigsaw_toxicity_pred` has an opened PR (#451

[2021-09-29 15:13] VictorSanh commented on #477
@StellaAthena

[2021-09-29 15:22] VictorSanh commented on #463
Update:
D4 + GPT's eval+rank eval -> finished and uploaded

[2021-09-29 15:27] awebson commented on #477
Pasted from Slack discussion for reference:

The former might have been added to our dataset spreadsheet while the latter just got added to HF. Still, I get a download error for both though.

Also, Winogender and Winobias can use the prompts from Winogrande.

[2021-09-29 15:42] StellaAthena commented on #469
Great work!

[2021-09-29 15:50] StellaAthena commented on #477
@awebson I am able to download both from Kaggle without issue.

It looks like crow pairs is the only one that needs prompting then. I can take care of that today.

[2021-09-29 15:56] StellaAthena commented on #477
Actually, it looks like [crows-pairs](https://github.com/bigscience-workshop/promptsource/blob/main/promptsource/templates/crows_pairs/templates.yaml) has a template already.

[2021-09-29 16:17] Iwontbecreative commented on #477
Yes, I added jigsaw_unintended_unintended to datasets since we were going to need it. Is your error related to the manual download required for the dataset? If yes, I think that is expected since the data is obtained through kaggle rather than direct download.

[2021-09-29 16:31] stephenbach commented on #477
Working on a PR for winogender/winobias copying from winogrande.

[2021-09-29 16:34] VictorSanh commented on #477
@Iwontbecreative just reviewed your PR, sorry we only getting back to it now

[2021-09-29 19:24] VictorSanh commented on #463
*should* have `finetune-t5-xxl-lm-d4-091621-512`'s Second to last checkpoint (step 1124700) eval (normal+rank) sometime around midnight

[2021-09-30 14:06] craffel commented on #463
"D4 only duplicate" is done. Starting "all OG templates" ablation now.

[2021-09-30 14:42] VictorSanh commented on #463
Update:
`finetune-t5-xxl-lm-d4-091621-512`'s Second to last checkpoint (step 1124700) -> done and uploaded

[2021-09-30 17:09] srush commented on #471
We don't really have them yet... Might be something for early next week.

[2021-09-30 17:11] srush commented on #469
wild, @lintangsutawika I can help get these into graph form. let me know when you settle on a format.

[2021-09-30 17:44] craffel commented on #465
This is running now.

[2021-09-30 17:44] #465 closed

[2021-09-30 19:01] lintangsutawika commented on #469
@srush Will keep you posted! @VictorSanh and I are splitting the load.

[2021-09-30 19:32] #461 closed

[2021-09-30 19:45] craffel commented on #457
Dataset splits for open-domain QA are a total mess, so writing this down here to track my own records:

* **Natural Questions**: In H.1, the GPT-3 paper says it is reporting results on the "test" split. However, standard open-domain and closed-book QA practice here is to use the validation set as the test set. I'm guessing that's what they mean but I'm waiting for confirmation.
* **TriviaQA**: GPT

[2021-10-01 02:44] craffel commented on #457
Leo Gao mentions that

We aren't doing any kind of length normalization, so if we are underperforming on those tasks, we could consider it.

[2021-10-01 12:29] VictorSanh commented on #463
Update:
`finetune-t5-xxl-lm-d4-gpt-091621`'s 1'112'200 eval -> done and uploaded

[2021-10-01 12:47] lintangsutawika commented on #457
For Drop, I noticed that the model would predict a number by its word instead of its numeric symbol. So I added that to the normalization process.

Predictions from `drop_can_you_tell_me_1112200_predictions` from `finetune-t5-xxl-lm-d4-091621-512`

Before:
[code]

After:
[code]

According to GPT3 Paper for Zero-shot
[code]

So we are performing significantly better

[2021-10-01 13:33] awebson commented on #477
@stephenbach:

Sorry for the late reply. This is a judgment call. On the one hand, we want to test the biases of the same coreference prompts we use for the non-bias-measuring evals (i.e., SuperGLUE WSC.fixed and Winogrande XL), but I don't want to dismiss what others have already written so far. So best to do a union.

Except I'd reject coreference prompts that:
- Include a hardcoded example in t

[2021-10-01 17:13] craffel opened #483 "Serialize prompts that cycle through choices"
In some prompt templates, there is logic like this:
[code]
This makes it so that one prompt is effectively multiple prompts. We should "serialize" them into separate templates.

[2021-10-01 17:58] craffel commented on #457
For the record, each example in coqa and quac is actually N examples, where N is the number of turns of the dialog. Our prompts for coqa and quac will only evaluate on one turn per example. We need to create new serialized versions of the datasets if we are going to evaluate on the full dataset.

[2021-10-01 18:48] stephenbach commented on #477
Whoops, wsc273 has nothing to do with this issue. Can't seem to remove the mentions above, but disregard please.

[2021-10-01 19:03] srush commented on #469
@lintangsutawika said the numbers are here: gs://bigscience/experiment_d/bigbench/finetune-t5-xxl-lm-d4-091621-512/1-112-200/output I'll try to extract both to pandas this evening.

[2021-10-01 19:06] srush commented on #475
@awebson if you are planning on continuing doing large rewriting changes, can you give me a timeline? I only have limited time on Monday, and the deadline early Tuesday. Would very much like to have a complete draft that you are happy with asap.

[2021-10-01 19:14] craffel commented on #457
Got confirmation that this is indeed the case. Unfortunately, this split is not available in HF, apart from in the main nq dataset which is utterly colossal. The one in the nq_open dataset (and the one in kilt nq) is different.

[2021-10-01 19:25] yongzx commented on #470
@srush @awebson how about this?
[T0 Datasets-2.drawio (1).pdf](https://github.com/bigscience-workshop/promptsource/files/7269673/T0.Datasets-2.drawio.1.pdf)

[2021-10-01 19:43] srush commented on #470
This looks pretty good to me! Let me see how it looks in the paper.

The colors may not be necessary. Can you send a version as well with all white and only nli with a color?

[2021-10-01 19:46] yongzx commented on #470
Here you go!

[T0 Datasets-3.drawio.pdf](https://github.com/bigscience-workshop/promptsource/files/7269781/T0.Datasets-3.drawio.pdf)

- [X] remove colors except NLI in eval.

[2021-10-01 20:42] yongzx commented on #475
Is there a way for me to add comments? I don't see the "Review" button for me. My Overleaf account is zheng_xin_yong@brown.edu

[2021-10-01 20:43] VictorSanh commented on #469
yup it's pointing to the same thing. `language_identification` is still running, and it's very hard to say when it's going to finish, I'll upload it though when it's done

[2021-10-01 20:44] stephenbach commented on #475
Overleaf invite sent!

[2021-10-02 02:45] stephenbach commented on #477
Current status of 4 datasets:

- jigsaw_toxicity_pred #451 open, changes made, needs re-review
- crows_pairs: #442 merged a while ago
- winogender: #482 open, needs review (minor changes)
- winobias: #488  open, needs review

[2021-10-02 04:11] awebson commented on #475
@srush Terribly sorry for the delay! Was occupied by result analysis and fixing metrics.

I promise to finish sections 3 and 4 tomorrow. And to ease you worries a bit, unlike what I did to Intro and Related Work, edits to S4 will be mostly stylistic not substantive.

[2021-10-02 11:43] lintangsutawika commented on #457
@craffel I've actually made prompts for coqa that tries to solve this.
[code]

But the downside is that it has to be a unique prompt for each number of turns. For coqa the maximum number of turns is 25 so there needs to be 25 unique prompts. The idea is to then collect the prediction to a json and run the official eval script.

So far I've made around 15 unique prompts (just change the number). I

[2021-10-02 13:21] VictorSanh commented on #469
we've got all of them on the bucket!

[2021-10-02 13:26] debajyotidatta commented on #477
Hi @stephenbach @VictorSanh @awebson : We still have not been able to reach a consensus about the prompts from the social bias working group. I do not think our discussions will be over until we meet a few more times, so we should just go ahead with the prompts that are already there for these datasets and when we are ready we will open a PR.

[2021-10-02 14:13] VictorSanh commented on #469
Evals
- [X] D4
- [ ] D4+GPT - RUNNING
- [ ] D4+GPT+SGlue - RUNNING

[2021-10-02 14:19] stephenbach commented on #477
Ok, thanks for letting us know!

[2021-10-02 18:32] craffel commented on #457
Thanks @lintangsutawika . @zaidalyafeai actually made HFDS variants of the tasks that include prior dialog turns as context. I think we can just use that as the base dataset.

[2021-10-02 18:50] craffel commented on #457
Here they are in hub:
https://huggingface.co/datasets/Zaid/coqa_expanded
https://huggingface.co/datasets/Zaid/quac_expanded

[2021-10-02 21:08] VictorSanh commented on #463
Update:
`finetune-t5-xxl-lm-d4-091621`'s 1'112'000 done and uploaded (except for a bunch of orphans)

[2021-10-03 04:44] bwang482 opened #489 "streamlit is not running correctly"
[code]
I have forked and cloned the repo and installed all required libs. Now when I `streamlit run promptsource/promptsource.py` my browser gets `http://localhost:8501/` but the interface stays on the high level metrics page no matter which mode I choose. It does not seem to respond to anything. Meanwhile I get a long list of the same lines on my command line:

[code]

Not only that, I am unable

[2021-10-03 15:20] VictorSanh commented on #469
We are starting to have the results for D4+GPT and D4+GPT+SGlue. I added the links.

[2021-10-03 16:59] VictorSanh commented on #463
Update: - done and uploaded (all half-fine-tuning):
- finetune-t5-xxl-lm-d4-all-091621
- finetune-t5-xxl-lm-d4-og-09162
- finetune-t5-xl-lm-d4-091621

[2021-10-03 17:10] stephenbach commented on #489
Possibly related to #411?

[2021-10-03 19:03] craffel commented on #457
I wrote ten GPT-3 style record prompts, where the model has to rank all the possible choices of the query sentence with every possible entity filled in. They will only make sense for rank eval. I can try to run eval on them before we cache. Not sure if it will help but worth a try. https://github.com/bigscience-workshop/promptsource/pull/490

[2021-10-03 20:26] bwang482 commented on #489
Thanks @stephenbach ! That seems to have resolved the issue.

Now I get this error below while downloading:

[code]

Happy to open a new issue! Thanks in advance!

[2021-10-03 20:38] bwang482 opened #492 "Couldn't find a directory or a dataset named 'story_cloze'"
[code]
Earlier I had issue https://github.com/bigscience-workshop/promptsource/issues/489 with the interface and I think it has been resolved now following https://github.com/bigscience-workshop/promptsource/pull/411

Now I get this error below while downloading:

[code]

Is this a known issue? Do I need to manually add something?

[2021-10-03 20:38] bwang482 commented on #489
Opened a new issue https://github.com/bigscience-workshop/promptsource/issues/492

[2021-10-03 20:38] #489 closed

[2021-10-04 01:03] tianjianjiang commented on #492
I'm not sure whether it is a well-known issue, but my guess is that you will have to manually download it because the remote feature isn't done according to https://github.com/huggingface/datasets/pull/2907

+CC @zaidalyafeai

[2021-10-04 02:49] VictorSanh commented on #463
Complete list of orphans at this time:

[code]

[2021-10-04 17:15] srush opened #493 "Writing: final 28 hour tasks"
- Intro
  - [ ] @craffel read
  - [ ] @stephenbach read
  - [ ] @VictorSanh read
  - [ ] finish intro with results
- Related Work
  - [ ] @craffel read
  - [ ] @stephenbach read
  - [ ] @VictorSanh read
- Datasets
  - [ ] Do we need to change figure 2? (dependent on results @awebson )
- Prompts
  - Additional high-level paragraph on promptsource tool / statistics on prompters
  - Summary statistic

[2021-10-04 17:37] bwang482 commented on #492
Thanks @tianjianjiang

I am not sure I can download it since it's not in HF datasets. Why is it included in promptsource then? @zaidalyafeai

[2021-10-04 17:58] lintangsutawika opened #494 "Hellaswag returns score of 100"
There seems to be an issue in Hellaswag for the "D4 only" (xxl-lm-d4-091621-512) I checked that run prediction files for prompts `_Predict_ending_with_hint`, `_Randomized_prompts_template`, and `_complete_first_then` are lists of -1.

Table for Accuracy Metric

[code]

For the rank eval version, the score is a nan.

Table for Accuracy Rank Eval Metric
[code]

This is a snippet of how I download th

[2021-10-04 17:58] lintangsutawika commented on #494
@craffel @awebson

[2021-10-04 18:02] zaidalyafeai commented on #492
@bwang482, story_cloze  was important for evaluation so we had to include it even though it is not originally in hfds (there is a [PR ](https://github.com/huggingface/datasets/pull/2907)for it). It is a special case because it is not public (acquired through email).

[2021-10-04 19:05] #475 closed

[2021-10-04 20:40] craffel commented on #494
T0 (d4-512) is outputting a bunch of stuff that is not one of the answer choices

[code]

but the scores are reasonable

[code]

so I don't know why it's NaNing. I will re-evaluate manually with score eval.

[2021-10-04 21:09] craffel commented on #494
The scores produce an accuracy of about 33%.

[2021-10-05 01:36] craffel commented on #457
Datasets that are mostly done but we need to re-run eval and/or compute scores manually for all models:

- ReCoRD: Re-wrote prompts in a GPT-3 style "continuation choices" format; this raised the average score from ~20% to ~40% for EM. Still very far below GPT-3's performance.
- SQuAD v2: Added "respond unanswerable" to the prompts; the model did sometimes say "unanswerable" but only rarely, so th

[2021-10-05 02:13] VictorSanh commented on #463
Update:
- all "orphans" numbers are resolved (except for record ones).
- still waiting for t5 zero-shot baseline

[2021-10-05 03:09] tianjianjiang commented on #492
As @zaidalyafeai aforementioned, story_cloze is crucial for the paper and I suppose that info was only announced during the meeting and probably somewhere in the slac channel.

IMO it is safe to ignore hat error for now, especially when the rest of streamlit should work, iirc.

[2021-10-05 07:42] awebson commented on #493
I finished a rough draft of the Results section, erring on the side of writing down more information than we need, since you can always delete/comment out things.

I agree that we should ideally formalize the notion of robustness, not solely variance. I wrote down a compressed version of you and Colin's small debate during our call, but this is only meant to be a work in progress. I don't know if

[2021-10-05 15:10] VictorSanh commented on #493
i took a stab at the experimental details

[2021-10-05 20:30] bwang482 opened #499 "Not compatible with streamlit v1.0"
streamlit>=0.82 <=0.88 is fine.

[code]

[2021-10-05 21:16] #499 closed

[2021-10-05 21:18] bwang482 opened #500 "Which streamlit version works?"
[code]

Can someone please advise me which version of streamlit works with min errors?

I have tried 0.88, but it gives `TypeError: request_rerun() missing 1 required positional argument: 'client_state'`. Then I downgraded it to 0.82 following https://github.com/bigscience-workshop/promptsource/issues/444.

Now the interface doesn't respond to which mode I choose, no matter if I change the code in

[2021-10-05 21:24] #500 closed

[2021-10-05 21:32] srush opened #501 "Writing: Final Pass"
If it is checked off, do not change except for grammar!

- [ ] Intro
- [ ] Related Work
- [ ] Datasets
- [ ] Prompts
- [ ] Details
- [ ] Results
- [ ] Discussion
- [ ] Conclusion

[2021-10-06 16:26] VictorSanh opened #503 "[Promptsource] custom/community datasets"
Fix that (i think it's related to the datasets that we add while they were not merged into datasets' master yet)
<img width="1489" alt="Capture d’écran 2021-10-06 à 12 25 31 PM" src="https://user-images.githubusercontent.com/16107619/136244645-325e550c-93e2-4d1d-944a-50cd1737eb6a.png">

[2021-10-06 16:28] stephenbach commented on #503
Claiming this. Yeah, we need a different way to handle this. On my todos.

[2021-10-06 18:20] #23 closed

[2021-10-06 18:21] #470 closed

[2021-10-06 18:21] #469 closed

[2021-10-07 18:53] #492 closed

[2021-10-07 21:30] VictorSanh opened #504 "Check the terminology used in the paper is matching the terminology in promptsource"
The terminology used in the paper: https://docs.google.com/spreadsheets/d/1b-TQY3mC7dKzHcCwK37TBSlfWBm9GEK9VNYdBComIWA/edit#gid=0

Some stuff in the interface don't match it anymore. For instance:
<img width="497" alt="Capture d’écran 2021-10-07 à 5 30 13 PM" src="https://user-images.githubusercontent.com/16107619/136464965-e7b061c4-8bf3-4755-935c-fd8a2330a9aa.png">
should be "input template" an

[2021-10-07 21:31] VictorSanh opened #505 "Remove `do_train` and `do_evals` from templates"
<img width="466" alt="Capture d’écran 2021-10-07 à 5 31 11 PM" src="https://user-images.githubusercontent.com/16107619/136465089-39bf8ebb-795f-4c62-9e9b-afdbb73fa9c5.png">

We are not using these anymore

[2021-10-07 21:33] VictorSanh opened #506 "Remove legacy stuff from the hackaprompt"
A few stuff that I spotted:
- "Other documentation" In the README
- link to the spreadsheet to "claim" datasets
<img width="411" alt="Capture d’écran 2021-10-07 à 5 32 17 PM" src="https://user-images.githubusercontent.com/16107619/136465209-1139fde4-bfb7-4c47-ac04-821b185f2089.png">
<img width="767" alt="Capture d’écran 2021-10-07 à 5 32 50 PM" src="https://user-images.githubusercontent.com/16

[2021-10-07 21:33] VictorSanh opened #507 "Merge `answer_choices` and `answer_choices_key`"
Should i assign you @stephenbach

[2021-10-07 21:35] stephenbach commented on #507
Yes please!

[2021-10-07 21:37] VictorSanh opened #508 "Merge redundant metrics"
- squad + span squad
- accuracy + span accuracy

in code and in templates

[2021-10-07 21:39] VictorSanh opened #509 "Remove priority filter"
We are not using it anymore, was mostly for the hackaprompt

See:
https://github.com/bigscience-workshop/promptsource/blob/3a33d02e2966a273556ae335500cf31c3f3a49d4/promptsource/promptsource.py#L195

https://github.com/bigscience-workshop/promptsource/blob/b99b48bd1220c7da1aa24ac5807f384aef661016/promptsource/utils.py#L132

[2021-10-07 21:41] stephenbach opened #510 "Add a command line argument for running in read-only mode"
So that we can host a public streamlit app, there should be a command line arg that launches the app without the sourcing option.

[2021-10-07 21:43] VictorSanh opened #511 "Fix rendering: use simple `st.text` instead of `st.markdown`"
The rendering is messed up in a bunch of places.
A few issues that are symptomatic: #355 #326

Replace `st.markdown` by `st.text` and extensively test that the rendering is better.

[2021-10-07 21:44] VictorSanh opened #512 "Update Contribution guide with things we learnt from the experiments and cleaning pass"
The guidelines in the cleaning pass: https://docs.google.com/document/d/1oPkgh4wqPa2MGhkIfYzJapxeDNh34A__Hq_8u8WcJXI/edit?usp=sharing

[2021-10-07 21:46] zaidalyafeai commented on #511
I suffered from this one and I want to resolve it :)

[2021-10-07 21:59] VictorSanh opened #513 "Model card"
@VictorSanh is preparing the weights, and uploading them to the hub.
Would love some help working on model cards

[2021-10-07 21:59] VictorSanh opened #514 "Dataset card"
@VictorSanh is preparing the materialized data that we used in the experiments (reproducibility)
Would love some help working on dataset cards

[2021-10-07 22:03] VictorSanh opened #515 "Pin version of promptsource"
Once everything is ready for release, pin the version of `promptsource`

[2021-10-07 22:06] VictorSanh opened #516 "Add citation to README"
Once the paper is up on Arxiv, put the citation infos in the README.

[2021-10-07 22:19] zaidalyafeai commented on #505
I am looping over all the templates, then loading using `yaml` and overwriting the yaml  file with a new one that has the two fields removed. Is this the best approach ?

[2021-10-07 22:22] stephenbach commented on #505
I think anything that results in a diff of only those two lines per template removed is good. I don’t think there are any references to those outside the yaml, but please double check.

[2021-10-08 00:14] zaidalyafeai commented on #505
I can't find them anywhere except in the `yaml` files. My first approach of using `yaml` loader doesn't work because there are some custom tags. This simple approach seems to work. I can check all the templates manually to make sure that only those two lines changes.

[code]

[2021-10-08 01:59] VictorSanh commented on #380
solved

[2021-10-08 02:41] sbmaruf commented on #513
Hi! Victor, I would love to help. Please let me know.

[2021-10-08 03:14] tianjianjiang commented on #515
May I suggest we also pin `python~=3.7.1` (or even 3.7.12) to avoid multiprocessing issues on macOS and Windows?

[2021-10-08 13:48] VictorSanh commented on #515
Could you expand on the multiprocessing bug you are running into on mac os and windows? The only place where we are using it (unless there is some stuff happening under streamlit) is here:
https://github.com/bigscience-workshop/promptsource/blob/e3b2202be6c0c67c4ee01803c96c5cba9ea5a846/promptsource/promptsource.py#L103

any suggestion on how to fix that? i'd like to avoid pinning the python versio

[2021-10-08 15:36] zaidalyafeai commented on #505
I submitted a PR https://github.com/bigscience-workshop/promptsource/pull/518

[2021-10-08 18:38] VictorSanh commented on #472
closing this since we are not going to submit to the leaderboard

[2021-10-08 18:46] tae898 opened #520 "Error while running `streamlit run promptsource/promptsource.py`"
It's been a while since I ran `streamlit run promptsource/promptsource.py`.
As always I fetched the latest main branch and ran the command, which threw an error below:

[code]

and

[code]

[2021-10-08 18:53] stephenbach commented on #520
Related to both #498 and #503. Should be fixed when those are both resolved.

[2021-10-08 18:56] VictorSanh opened #521 "Helicopter view - list index out of range (`subset_infos = infos[list(infos.keys())[0]]`)"
<img width="1419" alt="Capture d’écran 2021-10-08 à 2 56 17 PM" src="https://user-images.githubusercontent.com/16107619/136611497-5b08467f-b839-417c-915a-825c9cd72548.png">

[2021-10-08 20:43] #510 closed, assigned to tae898

[2021-10-08 21:47] VictorSanh commented on #521
#524

[2021-10-08 21:59] VictorSanh opened #525 "Text overflow on columns"
Not sure i ever saw that problem before:

<img width="1798" alt="Capture d’écran 2021-10-08 à 5 58 07 PM" src="https://user-images.githubusercontent.com/16107619/136629074-9731915f-53a6-45b3-9544-24a4f7854e28.png">

[2021-10-08 21:59] VictorSanh commented on #525
my streamlit version==0.88.0

[2021-10-08 22:21] VictorSanh opened #526 "`state.template_name` is not properly reset when changing dataset"
To reproduce:

1/ Sourcing mode - `dataset=yelp_polarity`, all the rest default (subset, split,..) in particular, the default selected template is `come_again`
2/ Change dataset, go to `sst` for instance.

I am getting this error:
<img width="822" alt="Capture d’écran 2021-10-08 à 6 18 32 PM" src="https://user-images.githubusercontent.com/16107619/136630491-ec68b057-72ee-4326-86d9-28fc2468dd83.p

[2021-10-08 22:22] VictorSanh commented on #526
👀 @stephenbach if you have an idea of what exactly is happening. might be related to da9e3425ce7a60f9ff1d1c7ffa46f7e68ee94608?

[2021-10-10 04:46] bwang482 opened #527 "No module named 'promptsource'"
[code]

I seem to keep getting various types of errors with the interface. This time, I cloned the latest version of `promptsource` and installed required libs and versions in a brand new conda env, and still got the error below. Is it because I am using Mac or Python 3.7 (tried streamlit==0.88 or 0.86 or 0.84 or 0.82)? Can someone enlighten me as it seems to be working for yall?

[code]

[2021-10-10 05:52] #527 closed

[2021-10-10 11:46] zaidalyafeai commented on #511
regarding `_` we can escape it `t.replace("_","\\_")` to solve the problem.

before
![image](https://user-images.githubusercontent.com/15667714/136693883-6cdbabaa-1fee-41ab-841b-01ced5dc55b2.png)

after

![image](https://user-images.githubusercontent.com/15667714/136693861-f634e79b-28f9-4f77-b462-6329be21a0af.png)

There are also other especial characters that we need to take care of https://discu

[2021-10-10 16:50] stephenbach commented on #511
Perhaps it's best just to display as plain text with st.text?

[2021-10-10 17:52] #505 closed, assigned to zaidalyafeai

[2021-10-10 23:12] bwang482 opened #528 "Cannot find templates.yaml"
I am able to see the templates I have created previously on the interface and `Hit the "Save" button. The output of the template applied to the current example will appear in the right sidebar.` is indeed true in my case as well. I am also able to see the templates in "Prompted dataset viewer" mode.

However, there is no such dataset with corresponding `templates.yaml` in the `templates` directory

[2021-10-11 13:02] VictorSanh commented on #511
Yes i would advocate to drop the highlighting (st.text doesn't display any fancy markdown related formatting anyway) unless @zaidalyafeai you feel VERY VERY confident about these highlight inserts (and the fact that they don't mess up anything)

[2021-10-11 14:32] zaidalyafeai commented on #511
@VictorSanh I was referring to special characters that might appear as part of the input text (X) not the prompt ( I am not sure if this causes problems as well or not). I agree that fixing the issues is more important than the visual stuff.

[2021-10-11 15:21] #506 closed, assigned to zaidalyafeai

[2021-10-11 16:19] bwang482 commented on #528
And when I want to quit the interface using `ctrl + c`, I get infinite

[2021-10-12 02:06] tianjianjiang commented on #515
After a test I recall that we will have to fix #416 (`'NoneType' object has no attribute 'session_id'`), otherwise python3.8 won't work.

[2021-10-12 13:29] stephenbach opened #533 "Restore default dataset to AG News"
By default, the souring and viewer modes should start on AG News (or something else small). It used to do this, but perhaps inadvertently changed as part of #517.

[2021-10-12 13:30] srush opened #534 "Writing: Arxiv version"
- [ ] Write the dataset appendix (@awebson )
- [ ] Final confirmation of all diagrams with Colin (@craffel )
- [ ] Deduplication analysis edit (@srush)
- [ ] Reference each appendix in the main body (@srush)
- [ ] Big table of result number (@awebson?)
- [ ] Related work discussion an check (@stephenbach )
- [ ] Edit pass on 6.2 and captions (@srush )
- [ ] XL model graphs (@awebson )
- [ ] Figure

[2021-10-12 16:10] srush opened #537 "Writing: Appendix finalization"
- [x] Graph for T0 XL (@awebson )
- [x] Tables that back main results (@srush)
- [ ] Teven’s stuff on contamination analysis (@TevenLeScao )
- [x]  dataset discussion (@awebson )
- [x] promptsource stuff ( @stephenbach )
- [x]   Eval nuances?Leo wrote section on normalization, was moved to engineering WGs paper? Bring back b/c of hellaswag?
- [x] All prompts (@srush)
- [x] Carbon
- [x] Broader Imp

[2021-10-12 18:37] stephenbach opened #540 "Show templates broken for community datasets"
Need to fix this logic in test/show_templates.py.
[code]

[2021-10-12 22:16] VictorSanh commented on #477
Results are starting to come in as I am parsing the results.
For T0:
[code]

[2021-10-13 13:53] VictorSanh opened #541 "`story_cloze` remove custom code now that PR was merged into hf datasets"

[2021-10-13 14:07] StellaAthena commented on #477
I shot the winogender authors an email asking if they had code.

[2021-10-13 17:40] #521 closed, assigned to VictorSanh

[2021-10-13 18:34] bwang482 opened #542 "ConnectionRefusedError: [Errno 61] Connection refused"
[code]
Latest prompt commit:

ERROR:
[code]

[2021-10-13 18:36] bwang482 opened #543 "TypeError: list_datasets() missing 2 required positional arguments: '_priority_max_templates' and '_state'"
[code]
Latest prompt commit:

The below error occurs under "Prompted data viewer" and "Sourcing" modes:
[code]

[2021-10-14 14:37] #537 closed, assigned to nobody

[2021-10-14 14:39] srush opened #544 "Writing: Arxiv last 2 hours"
- [x] Make sure wording on all the numbers in the text are  right
- [x] Make sure everyone agrees on the wording and graphs in 6.2
- [x] Second Row of Figure 7 (@awebson ) Change the text.
- [x] Figure 4 spacing between the bar chart / GPT-3
- [x] Textcolor gray.
- [x] We consider -> X number of tasks
- [x] GPT-3 to interquartile
- [x] Figure 6 Copa -> COPA
- [x] Figure 7 different page
- [x] Blue

[2021-10-14 17:39] #544 closed

[2021-10-14 17:42] VictorSanh opened #545 "streamlit 0.82"

[2021-10-14 17:42] VictorSanh opened #546 "python 3.7 in setup.py"

[2021-10-14 20:31] #459 closed

[2021-10-14 21:46] stephenbach commented on #503
Should be fixed by #498.

[2021-10-14 21:46] #503 closed, assigned to stephenbach

[2021-10-14 21:48] stephenbach commented on #520
#498 is merged and #503 is closed. This should be fixed now.

[2021-10-14 21:48] #520 closed

[2021-10-14 21:51] stephenbach commented on #511
#532 is merged.

[2021-10-14 21:51] #511 closed

[2021-10-14 21:51] stephenbach commented on #355
Fixed in #532.

[2021-10-14 21:51] #355 closed

[2021-10-14 21:52] stephenbach commented on #326
Fixed in #532.

[2021-10-14 23:16] #533 closed, assigned to nobody

[2021-10-15 20:57] #526 closed

[2021-10-15 21:03] #525 closed, assigned to nobody

[2021-10-15 22:54] VictorSanh opened #551 "add paper citation/link to data/model card"

[2021-10-16 04:37] #543 closed

[2021-10-16 04:37] #542 closed

[2021-10-16 04:57] bwang482 opened #552 "dataset `biosses` not updated"
I have updated a dataset 5 days ago https://github.com/huggingface/datasets/pull/3054 but I can't see the update in `promptsource`.

I have removed the cached dataset and redownloaded the dataset:
[code]
It is still shown as
[code]
instead of what it should be shown:
[code]

[2021-10-16 18:58] bwang482 commented on #552
Reinstalled `datasets`, sorted.

[2021-10-16 18:58] #552 closed

[2021-10-17 00:07] #508 closed

[2021-10-17 00:07] #540 closed, assigned to stephenbach

[2021-10-17 18:49] #541 closed

[2021-10-17 20:06] #504 closed

[2021-10-17 20:43] #512 closed

[2021-10-17 20:46] VictorSanh commented on #477
Closing for now as these made their way to the paper and model card. will re-open an issue with potential revisits when we need them

[2021-10-17 20:46] #477 closed

[2021-10-18 01:47] VictorSanh commented on #516
added

[2021-10-18 01:47] #516 closed

[2021-10-18 02:04] #515 closed, assigned to stephenbach, VictorSanh

[2021-10-18 02:05] #513 closed, assigned to VictorSanh, sbmaruf

[2021-10-18 02:05] VictorSanh commented on #514
feel free to send me

[2021-10-18 02:05] #514 closed

[2021-10-18 14:07] AlexanderKozhevin opened #556 "sorry, how to run text generation (like gpt3) ?"

[2021-10-18 15:18] zaidalyafeai commented on #556
I created a [colab notebook](https://colab.research.google.com/drive/19NVzSHLn2MNAOIlFoNiA6C4ejNyqUPuu?usp=sharing) for running the model. It can run  the smallest model `T0_3B` on High Ram setting.

[2021-10-18 15:39] tyo-yo opened #557 "[QUESTION] Why is the inference of T0 on Huggingface Hub so fast?"
I am very interested in your great work and play with the demo you released. I was amazed at the quality and speed of the models and wondered how you could deliver such a large model (11B) with such low latency.

For example, [t5-large's inference](https://huggingface.co/t5-large?text=My++%3Cextra_id_0%3E++is+John++and+I+%3Cextra_id_1%3E+London) takes just a few seconds to generate a short text, w

[2021-10-18 16:56] #557 closed, assigned to nobody

[2021-10-20 08:50] dvsrepo opened #560 "Hosted Streamlit app showing "Unrecognized RootContainer in deltaPath:" error"
Hi 👋

This effort is amazing! Congrats.

I've tried to browse the hosted version but I get the following error (URL: http://34.88.112.77:8501/):

<img width="1536" alt="Screenshot 2021-10-20 at 10 46 51" src="https://user-images.githubusercontent.com/1107111/138060425-09d01346-177b-485c-a7bb-04807258784d.png">

I'm using Brave (although it seems it's a server error)

Apologies if this is not the r

[2021-10-20 13:38] dvsrepo commented on #560
Now it's working even on Brave, thanks! Feel free to close this issue

[2021-10-20 15:02] VictorSanh commented on #560
@dvsrepo there are a couple of bugs (some of them are streamlit related) that I am seeing at scale (on the hosted version) but not on local versions... Generally, refreshing the page helps, but we should fix these at some point...

[2021-10-20 21:55] zaidalyafeai opened #562 "Getting all prompts for all datasets vs getting prompts for only one dataset"
regarding [Prompting an Example](https://github.com/bigscience-workshop/promptsource#prompting-an-example). It is much faster to get templates for a dataset than to get all the prompts first. Link for [colab](https://colab.research.google.com/drive/1PtFd6n7vqurLp92ttyv_9WdvMBjvlMvu?usp=sharing).

![image](https://user-images.githubusercontent.com/15667714/138177765-f0b3a16e-a0f9-4b25-9d36-796f9b6f

[2021-10-26 18:21] #562 closed, assigned to nobody

[2021-10-26 18:23] #556 closed, assigned to nobody

[2021-10-26 18:25] stephenbach opened #564 "Try to speed up app refresh by skipping loading all prompts when possible"
See @zaidalyafeai's observations here: #562

Right now we reload all prompts on every refresh. This is necessary for helicopter view, but for dataset and sourcing I think we can skip it.

[2021-10-27 10:03] zaidalyafeai opened #567 "Community datasets refer to the wrong source files"
Replace

[https://github.com/huggingface/datasets/blob/master/datasets/Zaid/quac_expanded/Zaid/quac_expanded.py](https://github.com/huggingface/datasets/blob/master/datasets/Zaid/quac_expanded/Zaid/quac_expanded.py)
by
[https://huggingface.co/datasets/Zaid/quac_expanded/blob/main/quac_expanded.py](https://huggingface.co/datasets/Zaid/quac_expanded/blob/main/quac_expanded.py)

Affected datasets `Za

[2021-10-27 14:02] yongzx opened #572 "Issue with Multiprocessing on MacOS"
I run into the issue of `Multiprocessing causes Python to crash and gives an error may have been in progress in another thread when fork() was called`, which I fix (by referring to the [thread](https://stackoverflow.com/questions/50168647/multiprocessing-causes-python-to-crash-and-gives-an-error-may-have-been-in-progr)) by adding `export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES` to my .zshrc

Howev

[2021-10-27 17:32] #564 closed, assigned to nobody

[2021-10-28 15:19] pietrolesci opened #582 "❓ IMDb "Negation template for positive and negative" possibly bugged and allow apply to insert mask"
Hi there,

Thanks for the amazing library - it is really helping in my research. I have two questions.

## Possible bug
[code]

Shouldn't it return `{text} This is definitely not a [MASK] review`? That is, shouldn't the label be either `negative` or `positive` and not `negative review` or `positive review`?

## Allow apply to insert `[MASK]` directly
To perform this, one need to change the `apply`

[2021-10-28 21:57] pietrolesci opened #584 "❓ Support for python 3.8"
Hi there,

Is there any plan to support python 3.8?

Best,
Pietro

[2021-10-29 05:45] manandey opened #588 "AttributeError: 'NoneType' object has no attribute 'session_id'"
Hi,

Is anyone facing this issue while running `streamlit run promptsource/app.py` ?

[code]

[2021-10-30 11:20] srulikbd commented on #588
yeah I run again into the same issue.
windows 11, python 3.7
I tried the updated promptsource package..

[2021-10-30 11:53] srulikbd commented on #588
I tried installing it on ubuntu 20.04 (WSL) but encountered the problem of : "streamlit: command not found"

[2021-10-31 14:46] MagedSaeed commented on #588
@srulikbd

Maybe a basic comment, but that means `streamlit` is not installed on your environment. Are you sure you run `pip install -r requirements.txt` on your virtualenv and activated itit?

[2021-10-31 16:21] srulikbd commented on #588
yeah I installed it this way..
I tried again (without installing anything again) and surprisingly, now it's working smoothly on ubuntu 20.04 (WSL).

[2021-10-31 16:27] srulikbd commented on #588
for future reference, anyone using WSL ubuntu 20.04, you should install python 3.7, because it ships with python 3.8..
use the following:

[code]
and if streamlit isn't recognized, a WSL restart might help.

[2021-11-01 11:39] pietrolesci commented on #582
Hi @stephenbach,

Got it! I think this makes sense and it is not difficult to implement what I suggest on the user end.
Also, thanks a lot for this effort: it is really helping my research.

I wish you a nice day.

Best,
Pietro

[2021-11-11 09:29] YangDong2002 opened #642 "[Question] What is the insight behind the strategy of choosing sampling weights?"
I am really excited about your great work! However, I want to clarify some detail that confused me in both paper and code:

In paper: (Section 5.2)

500’000 / num templates examples for the purposes of sampling

In code:

https://github.com/bigscience-workshop/promptsource/blob/dc0a156159e2a5d2dbb3b10d0470e477a3d03a08/promptsource/seqio_tasks/tasks.py#L199-L202

My question is: why isn't the sampl

[2021-11-12 22:45] VictorSanh opened #643 "Change `v0.1` in prompt reference to a more descriptive comment/link"
Multiple prompts have `v0.1` as a commen in the reference field. Change it to `Sanh et al. 2021` for instance (or at least something that other people than ourselves can understand)

[2021-11-12 22:47] VictorSanh commented on #642
Hi, thank you for your kind words @YangDong2002.
The goal of the cap is to (very crudely) balance very big datasets with smaller datasets. Let's say you have dataset A with 1'000 training instances and dataset B with 100'000 training instances, since we are sampling uniformly, datset B would be over-sampled compared to dataset A. These cap ensure that big datasets are not over-represented.

[2021-11-15 08:47] srulikbd opened #645 "downloading error for sent_comp"
I'm trying to view sent_comp  for that current sprint..
but I get the fllowing error:

`NonMatchingChecksumError: Checksums didn't match for dataset source files: ['https://github.com/google-research-datasets/sentence-compression/raw/master/data/sent-comp.train03.json.gz']
Traceback:
File "/home/srulikbd/.local/lib/python3.7/site-packages/streamlit/script_runner.py", line 338, in _run_script
    e

[2021-11-15 19:57] zaidalyafeai commented on #567
https://github.com/bigscience-workshop/promptsource/pull/646

[2021-11-15 19:57] #567 closed

[2021-11-16 17:26] zaidalyafeai commented on #643
I can work on this.

[2021-11-16 17:35] zaidalyafeai commented on #645
Works fine on WSL/Windows 10. it seems this error is related to `datasets`, not `promptsource` because there are other people facing similar issues https://github.com/huggingface/datasets/issues/3269

[2021-11-18 19:37] srulikbd commented on #645
I tried delete and downloading again but the same error appears

[2021-11-18 20:02] #582 closed

[2021-11-20 19:36] shanyas10 opened #659 "error while loading qed in sourcing"
Hi, I'm getting this error while using `qed` as the dataset in sourcing view:

[code]

I've been able to use this dataset fine while prompting but not sure what's breaking now. I also tried deleting the cache and downloading again but it's still the same.

[2021-11-23 14:31] stephenbach commented on #659
Maybe a temporary thing? It just downloaded for me.

[2021-11-24 16:43] gabeorlanski opened #661 "Scripts For Evaluating T0 with Prompts"
Hello, are there publicly available scripts for how the evaluation was done for the fixed choice tasks in the [T0 Paper](https://arxiv.org/pdf/2110.08207.pdf)?

I tried implementing them myself but have been getting different results for the log probability ranking and wanted to verify that I implemented it correctly. If the scripts are not publicly available, are there any instructions and/or sim

[2021-11-24 21:43] reppertj opened #662 "Training Code for T0*?"
I'm trying to understand what it would take to reproduce some of the fine-tuning results in the paper -- I see the checkpoint (pytorch) weights are on HF hub, but is the training code publicly available anywhere?

Thanks!

[2021-11-29 18:10] VictorSanh commented on #662
Hi @reppertj
Our training and evaluation codebase is mainly based on the t5 codebase (https://github.com/google-research/text-to-text-transfer-transformer). We then converted the trained checkpoints to pt to release them on the hub. I am happy to provide the tf checkpoints too if that's helpful.

[2021-11-29 18:12] VictorSanh commented on #661
Hi @gabeorlanski
Our training and evaluation codebase is mainly based on the t5 codebase (https://github.com/google-research/text-to-text-transfer-transformer). For the bigbench numbers, we relied on the original bigbench repository (mainly converting the checkpoints to pt format)

[2021-11-30 12:54] reppertj commented on #662
Thanks, @VictorSanh! Yes, the TF checkpoints would absolutely be helpful.

[2021-11-30 15:26] tianjianjiang commented on #645
I also tried and worked. Yet, AFAIK, GitHub had many incidents recently. I encountered two different symptoms with c4, but their root cause seems network or file corruption (git-lfs)?

[2021-11-30 17:37] srulikbd commented on #645
ok, with @VictorSanh suggestion it now working! thanks.

[2021-11-30 17:37] #645 closed

[2021-11-30 18:13] tianjianjiang commented on #659
I just tested and realized that it's a new issue since `datasets==1.15.0`.
We may have to pin to `datasets==1.14.0`

[2021-12-01 23:01] reppertj commented on #662
Thanks, @VictorSanh!  Closing this issue.

[2021-12-01 23:01] #662 closed

[2021-12-02 07:07] YangDong2002 commented on #642
OK, so I won't hold on to the details too much if it is a somewhat crude way to reach a balance

[2021-12-02 07:07] #642 closed

[2021-12-02 22:12] VictorSanh opened #680 "Instantiating `DatasetTemplates` - Raising an error when dataset name is not found"
[code]

We should raise an error (`raise NameError` for instance) when we can't find the dataset

[2021-12-03 20:47] jaketae commented on #680
Would checking `name_to_id_mapping` after the sync call in init be enough to determine whether to raise the `NameError` or not?

[2021-12-06 16:00] VictorSanh commented on #680
Haven't looked closely yet tbh but feel free to open a PR to address that if you feel like it
cc @arnaudstiegler since you created that class + @stephenbach

[2021-12-07 09:23] AkshitaB opened #685 "How to get answer choices for the templates without fixed answer choices?"
What is the right way to get the correct answer choices that are dependent on example instance? I've tried to use `template.get_answer_choices_list()` but it returns `['']`.

Code snippet to reproduce:

[code]

The dataset instance here is:

[code]

I would have expected to get the 4 answer choices from the example input str, but perhaps I'm misunderstanding the expected input to the function?

No

[2021-12-08 08:03] shakedbr opened #686 "Expanding promptsource to other languages"
Hi,

I'm working on a contribution of prompts that are code related, such as:
1. Given a docstring and/or a function name, generate the function body.
2. Given a function body, generate a function name.
3. Given a function call f(…) generate the return value.
4. Given a code with <masked> tokens, retrieve them, given several choices.
5. Given a buggy code (e.g. wrong identifier, wrong operator), c

[2021-12-08 19:49] sbmaruf opened #687 "Download and Export P3 dataset to jsonl format"
In a recent discussion at architecture and scaling WG, it was asked if we can convert p3 dataset into raw json format.

I am not sure if the conversion script should be here or not. But in case if we want to keep such script in this repository, I can send a PR here.

Current implementation,
[code]

[2021-12-08 23:41] VictorSanh commented on #687
I am leaning towards putting it somewhere else. What would be the rationale for putting it here?

[2021-12-09 19:41] VictorSanh commented on #659
i am running into the same issue and i have re-opened the issue on `datasets` (see https://github.com/huggingface/datasets/issues/3346#issuecomment-990171790).
@shanyas10 let's put that dataset aside for now

[2021-12-09 20:52] VictorSanh commented on #686
Great to hear that you are interested in these topics @shakedbr !

to answer your questions:
1/ We have been discussing this and have considered a few options for the best strategy to extend promptsource (or even whether we need to extend) to multiple languages. The rationale is that modifying the logic for languages requires some broad changes to the tool and sends a strong signal. At the moment,

[2021-12-10 19:03] sbmaruf commented on #687
When I see the current structure of this project I cannot see any place where we can put this code.
But this place could be discussion point to where we can open a pull request. I am hoping once we have >=13B Multilingual Model, we would do the multi-task training with P3 dataset. But I'm not sure where should I open a pull request.

[2021-12-11 08:53] tianjianjiang opened #689 "fix: "card_data" has become "cardData" for promptsource/utils.py#L115"
related: #684

Not sure when this has been changed, but it is likely causing #684, too.

[2021-12-12 11:23] shakedbr commented on #686
Great, thanks!

[2021-12-12 11:23] #686 closed

[2021-12-12 20:06] zaidalyafeai commented on #643
https://github.com/bigscience-workshop/promptsource/pull/692

[2021-12-13 18:28] VictorSanh commented on #689
fix in commit 9d40ea88b283e0dedfc108077ac4b2373dbde159

[2021-12-13 18:28] #689 closed

[2021-12-13 18:33] VictorSanh opened #693 "manual download logic"
We need a logic to specify a local path for datasets that require manual download in particular to support the bio med group.

What I am imaginating:
when `manual_download_required` is detected in the call to `load_dataset`, then a text box/input box appears on the interface to give the user the ability to give a local path, then re-run load_dataset with this `data_dir`

[2021-12-13 18:44] VictorSanh opened #694 "Jinja sometimes splits in the `Prompted dataset viewer`"
Figure out why this happens and open a PR to fix it

Some examples:
<img width="969" alt="Capture d’écran 2021-12-07 à 4 41 30 PM" src="https://user-images.githubusercontent.com/16107619/145869838-b0f7408d-45b3-4720-9b4a-85ca45269dbe.png">
<img width="1425" alt="Capture d’écran 2021-12-08 à 5 22 16 PM" src="https://user-images.githubusercontent.com/16107619/145869846-5d8d1716-406e-4455-9a42-e6

[2021-12-13 18:44] VictorSanh commented on #687
how about opening a PR here: https://github.com/bigscience-workshop/t-zero

[2021-12-13 18:44] #687 closed

[2021-12-13 18:51] VictorSanh commented on #659
fyi: https://github.com/huggingface/datasets/pull/3417

[2021-12-13 19:08] #643 closed

[2021-12-14 16:59] VictorSanh commented on #659
fixed https://github.com/huggingface/datasets/pull/3417
you'll need to be on datasets' master @shanyas10

[2021-12-15 11:50] mpomarole commented on #560
It seems like the hosted version is also down: http://34.88.112.77:8501/. This is the link on the root README.

[2021-12-15 17:49] VictorSanh commented on #560
Could you share a screenshot of what's not working @mpomarole? the [hosted version](bigscience.huggingface.co/promptsource) is working for me

[2021-12-15 18:49] zaidalyafeai commented on #560
Works for me as well.

[2021-12-15 19:05] mpomarole commented on #560
Wasn't working when I posted, now it is.

[2021-12-15 21:00] zaidalyafeai commented on #694
Seems to be caused by multiple new lines.

[2021-12-15 22:25] VictorSanh commented on #694
yes, that sounds like the right diagnostic
would you like to propose a fix for that @zaidalyafeai ?

[2021-12-16 08:31] zaidalyafeai commented on #694
Using `re.sub(r'\n+', '\n', t)` inside `show_jinja` function seems to resolve the issue. Not sure why `{% for candidate in
candidate_answers -%}` is not in one line, though. Did we have this problem before?

![image](https://user-images.githubusercontent.com/15667714/146334849-397f1889-1063-49ec-92b4-c97aca04a656.png)

[2021-12-16 16:28] stephenbach commented on #685
Closing for now. Feel free to reopen if the above doesn't address your issue.

[2021-12-16 16:28] #685 closed

[2021-12-17 14:52] zaidalyafeai commented on #694
@VictorSanh, If that is ok, I can submit a PR today. Won't be able to work on it later, because I am traveling.

[2021-12-17 18:03] VictorSanh commented on #694
I'd like the rendering to be as faithful as the template (i.e. if there are 3 \n then we should display 3 \n). Would doing a `join` before calling https://github.com/bigscience-workshop/promptsource/blob/415a49333f792a52b682ece4ef107082b015a6ea/promptsource/app.py#L91 solve the issue?

[2021-12-21 12:43] Dhanachandra opened #702 "ConnectionError: Couldn't reach 'craffel/openai_lambada' on the Hub (ConnectionError)"
`Traceback:
File "/home/dhanachandra/anaconda3/envs/promptsource/lib/python3.7/site-packages/streamlit/script_runner.py", line 338, in _run_script
    exec(code, module.__dict__)
File "/home/dhanachandra/dhana_ezdi/ezdi_21/Prompts/promptsource/promptsource/app.py", line 145, in <module>
    pool.map(get_infos, all_datasets)
File "/home/dhanachandra/anaconda3/envs/promptsource/lib/python3.7/multipr

[2021-12-21 16:29] VictorSanh commented on #661
@gabeorlanski here are the official scripts to reproduce the main results: https://github.com/bigscience-workshop/t-zero -> section "Evaluation"

[2021-12-21 16:29] #661 closed

[2021-12-21 16:31] VictorSanh opened #703 "Transfer `promptsource.seqio_tasks` to https://github.com/bigscience-workshop/t-zero"
Separate promptsource from the tooling specific to the T0 paper

[2021-12-23 09:47] VictorSanh commented on #703
also change the mixture name to something self-explanatory....

[2021-12-30 14:45] thomasw21 commented on #693
I think that ideally we should still be able to run `load_dataset("story_cloze", "2016")` without specifying that data dir. I think this requires changes in the `datasets` library, where we'd somehow be able to cache a manually downloaded dataset. Typically the flow would be:
 - manually download a dataset
 - cache the dataset in arrow format using something along the lines of `prepare("story_cloz

[2021-12-30 14:48] thomasw21 commented on #703
Unrelated to the move exactly, but I think we should mention somewhere that running with `HF_DATASETS_OFFLINE=1` saves a lot of time when importing those tasks:

[code]

This holds true even if one doesn't actually use the datasets and has already cache the tasks.

[2022-01-03 13:47] VictorSanh commented on #693
I am not sure I am following. Calling `load_dataset("story_cloze", "2016", data_dir=<your_fav_path>)` caches the dataset in an arrow format and the exact path (from what I understand) is determined by the `data_dir`.
So I am not sure I see the difference between `prepare("story_cloze","2016", data_dir={DATA_DIR})` and `load_dataset("story_cloze","2016", data_dir={DATA_DIR})`...

I like the `PROMPT

[2022-01-03 14:00] thomasw21 commented on #693
The idea is you only need to `prepare` once, and then use `load_dataset` without `data_dir` as the notion of having manually downloaded the data or not disapears.

I can open a PR for the flag.

[2022-01-03 14:11] VictorSanh commented on #693
i might be missing something but it seems like a naming convention. with datasets that don't require manual download, `load_dataset` still downloads and cache it the first time, and then it's still name `load_dataset`. for datasets that require manual download, you download and put it in `data_dir` once, cache it once and then the call to the function doesn't change.

Unless I am totally missing s

[2022-01-03 19:31] thomasw21 opened #709 "Find a way to not load all the tasks infos."
When running `from promptsource.seqio_tasks import tasks` it takes a huge amount of time. One of the main reasons is this queries all dataset infos:  https://github.com/bigscience-workshop/promptsource/blob/dba1d41e63a7af883fd7dc2727b4c7fd03e714c9/promptsource/seqio_tasks/tasks.py#L84 This is problematic for two reasons:
 - One has to load ALL dataset infos as soon as one uses one task.
 - Even wh

[2022-01-04 16:49] craffel commented on #709
In order to use the module import functionality of seqio, importing the module needs to add the task you want to use to the task registry without calling any additional code. So, we either need to have a separate file for each task or change the underlying functionality in HF datasets.

[2022-01-04 18:00] #693 closed

[2022-01-04 18:04] VictorSanh commented on #693
for the record, I was confused but Thomas explained it to me: #708 handles two shortcomings with previously had
- the UX flow for datasets that require manual download
- the fact that we needed to manually change the arguments of load_dataset when task caching with seqio

👀 @jason-fries we now support a smooth workflow for datasets that require manual downloads (basically downloading them under `~

[2022-01-07 20:57] #659 closed

[2022-01-21 18:41] #703 closed

[2022-01-21 20:10] VictorSanh opened #718 "test `show_templates.py` will fail for datasets that require manual download"
this test (mostly for checking/render and print templates) is bound to fail for datasets that require manual download.
to do: handle these cases by returning a warning for instance? not even sure it's possible

[2022-01-24 15:10] lksenel opened #720 "Adding new datasets"
I am a Ph.D. student from Munich, currently working on prompting and I am a big fan of the resource that you created with promptsource project. I am currently working on the datasets in the raft benchmark (ought/raft as in the datasets), and I wanted to test my models with different prompts that I manually write. However, as far as I can see, these datasets are not currently included in promprsour

[2022-01-26 20:19] VictorSanh commented on #720
Hi @lksenel,
It's possible to load community datasets though it's not supported through the interface at the moment.
You would basically need to add "ought" to the set here:
https://github.com/bigscience-workshop/promptsource/blob/9ea89d1be9f4fc232d783aaec47dc76f0ee71091/promptsource/templates.py#L28
We have not seen a big demand in adding prompts for community datasets, but if it's the case, we c

[2022-01-26 20:20] #720 closed

[2022-01-26 20:20] #694 closed

[2022-01-26 20:20] #588 closed

[2022-01-26 20:20] #560 closed

[2022-01-27 18:15] jpilaul opened #722 "glue/mrpc prompt returns empty"
@dimapihtar and I have ran into an issue that we are not able to fix. We are applying the prompt template on glue's mrpc data we get an empty results

To replicate:
input
[code]
output
[code]

[2022-01-27 18:36] VictorSanh commented on #722
Hi @jpilaul
could you give a lil' more details (for instance by providing a snippet of code)?
in particular, I am interested in which prompt of glue/mrpc you are using.

[2022-01-27 18:54] dimapihtar commented on #722
@VictorSanh
Trying to apply existing prompt for each example of dataset:
`def apply_prompts(data, prompts, name):
    prompts_lst = prompts.all_template_names
    counter = 0
    for example in data:
        for index, prompt in enumerate(prompts_lst):
            print(counter, prompt, example)
            result = prompts[prompt].apply(example)
            row = {'src': name, 'text': '{context}

[2022-01-28 03:21] VictorSanh commented on #722
Yes this is expected, the templates you are trying to apply are conditionally based on the label. It means that it will skip some of the examples. In the case of glue/mrpc/generate_paraphrase, the example will be skipped when the label is 0, which eventually will return a "blank" prompted example.

<img width="433" alt="Capture d’écran 2022-01-27 à 10 18 48 PM" src="https://user-images.githubuse

[2022-01-28 03:22] VictorSanh commented on #722
i am closing this for now. feel free to re-open if something is not clear!

[2022-01-28 03:22] #722 closed

[2022-02-04 16:49] VictorSanh opened #725 "upgrade streamlit"
pinning the streamlit version causes downstream packages version conflict which makes the test fail:
[code]
For now, I put an upper limit on black version but ultimately we should upgrade streamlit (which requires tweaking and testing the state mechanism)

[2022-02-04 16:55] #680 closed

[2022-02-08 19:57] ProjectMountiainMan commented on #588
I am having this same issue on windows 10. Is the accepted fix meant to be installing in WSL?

[2022-02-09 13:48] tianjianjiang commented on #588
Probably just like what @srulikbd said above?
https://github.com/bigscience-workshop/promptsource/issues/588#issuecomment-955745086

[2022-02-10 00:42] Guitaricet opened #726 "PyPi install issue"
Executing `pip install promptsource` causes the following error for me

[code]

I was trying to understand what is a possible problem, but this one is confusing, because the previous line `with open("README.md", "r", encoding="utf-8") as readme_file:` also reads a local file and it does not fail.

I will make a PR that removes `requirements.txt` in favor of explicitly providing a list of dependenc

[2022-02-10 00:50] Guitaricet commented on #726
The PR: https://github.com/bigscience-workshop/promptsource/pull/727

[2022-02-14 01:45] awebson commented on #726
Thanks Vlad! @stephenbach would you mind taking a look at this? I'm not sure if it's related but right now I can't even `pip install promptsource` on an empty Colab.

[code]

[2022-02-14 02:16] awebson commented on #726
FWIW, I did `!python --version` and Colab currently has 3.7.12.

I'm not sure why we require 3.7 aside from the fact that the readme says “for stability reasons”.

[2022-02-14 20:31] VictorSanh commented on #726
We pinned to Python3.7 (in this [commit](https://github.com/bigscience-workshop/promptsource/commit/9b91d27d50d0f82bce6922156240a1e3a1510ba0)) for various rendering bugs reasons (see https://github.com/bigscience-workshop/promptsource/issues/416, https://github.com/bigscience-workshop/promptsource/pull/385, https://github.com/bigscience-workshop/promptsource/pull/444).

Removing this constraint (h

[2022-02-14 20:43] VictorSanh commented on #726
I just did a patch release with your fix @Guitaricet

@awebson , also tested this new release on Colab and it seems to work smoothly!

[2022-02-14 20:43] #726 closed

[2022-02-24 17:17] StellaAthena opened #728 "`pip install promptsource` fails"
It looks like promptsource is not pip-installable. I get
[code]
when I try

[2022-02-24 21:24] VictorSanh commented on #728
oohh, hmm, strange.
Could you say a little bit more about your setup?
Are you using Python3.7?

[2022-02-24 22:54] StellaAthena commented on #728
No, I'm using Python 3.9.

[2022-02-24 23:17] StellaAthena commented on #728
Okay, it worked in Python 3.7. Is there a reason why `setup.py` forbids versions beyond 3.8.0? I've been using the library [just fine](https://github.com/StellaAthena/promptsource) in Python 3.9

[2022-02-25 14:23] VictorSanh commented on #728
Yes, we pinned to Python3.7 for various stability reasons on the interface side (https://github.com/bigscience-workshop/promptsource/issues/726#issuecomment-1039527327)
If you are not planning to use the interface, you can install from source (and remove the constraint in the `setup.py`)! Let me know if the README setup (https://github.com/bigscience-workshop/promptsource#setup) is not clear :)

[2022-02-25 14:23] #728 closed

[2022-03-23 11:31] chris-aeviator opened #730 "module 'datasets.load' has no attribute 'prepare_module' - fresh install"
I'm trying to bring up promptsource from a fresh environment. When acessing the `Dataset Viewer` or `Sourcing` section, streamlit shows this error.

[code]

## Steps to reproduce
[code]

### Edit
seems `prepare_module` has been deprecated and removed 21 days ago - all new installs will likely see this. https://github.com/huggingface/datasets/pull/3803

[2022-03-27 18:32] stephenbach commented on #730
Thanks for raising this! Looking into it now.

[2022-03-27 18:50] stephenbach commented on #572
I started hitting this issue after upgrading OSX to 12.3. When I include the suggested fix, it works in that I can navigate off the helicopter view and use the rest of promptsoruce normally, but the helicopter view itself fails with this error
[code]
(Shows up as EOF error inside streamlit.) Are you seeing this too?

[2022-03-27 19:16] stephenbach commented on #572
This seems to happen because when new processes are launched with spawn rather than fork, streamlit gets set up again, which breaks the internal session management. Possibly also the cause of #588 that couldn't be reproduced.

[2022-03-27 19:23] stephenbach commented on #572
Sorry for the stream of consciousness updates, but multiprocessing seems to be the source of many of our problems. It's also the reason we can't upgrade to python 3.8 (as described in #416). It seems that that is because 3.8 switches the default launch method to spawn: https://chrissardegna.com/blog/multiprocessing-changes-python-3-8/

[2022-03-29 17:01] tianjianjiang opened #734 "machine-translate structured text | prompt templates → multilingual data"
Tricks that I've used before (as far as I can recall):
- Google Translate, DeepL, or Microsoft Translator with `<span id=...>`.
  - [ ] Previously DeepL and MS didn't work well with tags, but I can try again.
- English-oriented tricks with models on this list https://github.com/UKPLab/EasyNMT#available-models
  (_BTW, Kenneth Heafield is an expert of OPUS-MT, see https://huggingface.slack.com/arch

[2022-04-01 22:14] VictorSanh commented on #730
adressed with PR #735 :)

[2022-04-01 22:14] #730 closed

[2022-04-01 22:15] VictorSanh commented on #584
see #733 :)

[2022-04-18 15:56] stephenbach commented on #584
Closed via #733.

[2022-04-18 15:56] #584 closed, assigned to nobody

[2022-04-18 15:56] stephenbach commented on #572
Closed via #733.

[2022-04-18 15:56] #572 closed

[2022-04-18 16:26] stephenbach commented on #702
This might have been an intermittent error. I'm not able to reproduce on `main`. Please reopen if you're still encountering it. Thanks!

[2022-04-18 16:26] #702 closed

[2022-04-27 09:31] kasnerz opened #749 "Behavior in cases the template is not applicable"
If the template is not applicable for a particular example, the `prompt.apply()` method returns only a single-element list with an empty string instead of a two-element list with the prompted input and the reference answer. This contradicts the [docstring](https://github.com/bigscience-workshop/promptsource/blob/f5c3977626c155823468854479605dbafcbc4426/promptsource/templates.py#L163) which says th

[2022-05-02 15:45] VictorSanh commented on #749
hey @kasnerz !
yes that sounds about right. we should modify the docstring. Would you like to open a pr for this?

[2022-05-03 14:05] thesofakillers commented on #686
Hi @VictorSanh, just some questions regarding PromptSource in other languages:

- I don't see what is wrong with just letting contributions be made in these languages. Is this just a moderation issue?
- By "modifying the logic for languages", do you mean modifying (appropriately translating/adapting) the templates for each incoming new language? Wouldn't this be handled by incoming contributors?
-

[2022-05-06 15:23] jzf2101 opened #764 "Flag in Promptsource for PromptLanguage"
As discussed by the evaluation meeting, it would be useful to include a flag for the language of the prompts for multi-lingual evaluation.  I wanted to open this up to see if we could allow for the creation of this additional field and to enquire as to how this would be preferred to be included. @awebson has been working with me on adding prompts into a branch and we're open to keeping this within

[2022-05-20 04:43] richardbaihe opened #776 "COPA template error"
The template of superglue/copa "\u2026What could happen next, C1 or C2?" didn't deal with "cause" condition.

[2022-05-23 15:09] stephenbach commented on #776
Hi @richardbaihe, this is the expected behavior. Since it is a prompt asking about "what happens next," it is only applicable to the "effect" subset. It can be combined with the ...why? C1 or C2? prompt to cover the full set.

See https://github.com/bigscience-workshop/promptsource/blob/main/CONTRIBUTING.md#best-practices for more on skipping examples.

Closing for now. Please reopen if you have a

[2022-05-23 15:09] #776 closed

[2022-06-13 00:53] gentaiscool opened #784 "Add more non-English datasets: IndoNLU"
I would like to propose adding new Indonesian datasets from the IndoNLU benchmark https://github.com/IndoNLP/indonlu for multilingual evaluation. This benchmark has various tasks: sentiment analysis, emotion classification, and textual entailment. Probably, we can start with one task like sentiment analysis.

I was wondering if we are still able to add new non-English datasets since, currently, we

[2022-06-25 19:53] VictorSanh opened #791 "`get_dataset` fails with some"
Example: the loading of `GEM/wiki_lingua` subset `id` in promptsource fails, even though calling `datasets.load_dataset("GEM/wiki_lingua", "id")` works perfectly.
I suspect we can remove the logic with `builder_instance` and just use `datasets.load_dataset`

https://github.com/bigscience-workshop/promptsource/blob/d1f16cfa786ee496588de7117abe5ab6c5326f67/promptsource/utils.py#L36

[2022-06-28 19:16] stephenbach opened #792 "Discussion on skipping examples"
Continuing the discussion from PR #788 to double check some stuff. The contributing guide says
[code]
I could have sworn it was either a blank input/output/or totally blank, as supported by the way the tests are written. Did we change this at some point? Perhaps we can run a check on existing prompts or change the code further to allow all options?

Also related to #749.

[2022-07-18 12:15] VictorSanh opened #800 "Tests don't pass locally but pass on the GH Action CI"
PR https://github.com/bigscience-workshop/promptsource/pull/798 for instance at commit `0bfade4a71cd9b90b744a1b17e0dff04c8e0da49` should pass the tests because of uuid duplicates, but does on the GH action CI...

[2022-08-02 14:14] Fraser-Greenlee opened #812 "The hosted version is down 😰"
When I visit `https://bigscience.huggingface.co/promptsource` I get redirected to `http://34.88.112.77:8501/` and get a connection timeout error.

Any way I can help?

[2022-08-02 14:50] VictorSanh commented on #812
hi @Fraser-Greenlee , i killed it yesterday since it had close to no CPU usage...
can you run it locally?
I am happy to revive the instance although I need a little more than one user from time to time to justify the cost :)

[2022-08-02 14:50] VictorSanh commented on #812
otherwise, i can also move it to a hf spaces

[2022-08-02 15:23] Fraser-Greenlee commented on #812
Shoot…
I can run it locally but I keep running out of memory, how big is the instance your running?

[2022-08-02 23:00] Eliotdoesprogramming commented on #812
to add, I am also a user that visits time to time. I have no issues running locally but its helpful if theres a hosted version so I can work w/ others on just figuring out what tasks to fine tune :)

[2022-08-03 14:31] VictorSanh commented on #812
thanks for the feedback @Fraser-Greenlee @Eliotdoesprogramming

@Fraser-Greenlee what do you mean by OOM?
Do you have a traceback of the error? Is it in the preprocessing of the data?
The server was a tiny machine with 4 vcpus and 16GB of ram.

[2022-08-03 14:33] VictorSanh commented on #812
i can re-spawn the machine in the short term, although in the longer term, I'll probably just put it on a HF spaces which doesn't have persistent disk, which means every single time there is a new commit on master, the preprocessed datasets cache will be lost, and you'll have to wait for dataset re-processing. Would that be a problem?
At the current pace, new commits are not that frequent anyway

[2022-08-03 15:41] Eliotdoesprogramming commented on #812
I don't think it's a problem having to wait for the reprocessed. Definitely hosting on a more affordable option makes sense.

Does the reprocessing happen automatically or on selection of the dataset?

[2022-08-03 16:12] VictorSanh commented on #812
gotcha!

Yes whenever you query a dataset, HF datasets will check whether there is a preprocessed cache, if it not, HF datasets will download and pre-preprocess it

[2022-08-08 08:03] Muennighoff opened #813 "Examples of where >1 targets?"
As you changed the signature of `apply()` to return a list for targets instead of a string, can you point me to some datasets that use multiple targets?
Is randomly picking one the best to get it back to a single string?

[2022-08-09 17:20] stephenbach commented on #813
Hey @Muennighoff ! Unless I'm misremembering, this is only changed on the `eval-hackathon` branch. This was a feature requested by the eval team, and maybe @cjlovering or @jordiclive can point to them. My understanding is that it's motivated by generation datasets that have multiple possible valid targets. We're not 100% decided that the current API in `eval-hackathon` will be merged as-is to `mai

[2022-08-09 17:25] stephenbach commented on #764
Closed via #771 .

[2022-08-09 17:25] #764 closed

[2022-08-10 11:23] jordiclive commented on #813
@Muennighoff, [GEM/web_nlg](https://github.com/bigscience-workshop/promptsource/blob/eval-hackathon/promptsource/templates/GEM/web_nlg/en/templates.yaml) and [`GEM/wiki_auto_asset_turk`](https://github.com/bigscience-workshop/promptsource/blob/eval-hackathon/promptsource/templates/GEM/wiki_auto_asset_turk/templates.yaml) are examples of multiple references. For example GEM/wiki_auto_asset_turk/tes

[2022-08-30 07:51] dayeonki opened #820 "Not able to bring lambada templates"
Hello, I am running bigscience-workshop/bigscience-lm-evaluation-harness.
I wanted to add new task: LAMBADA.
I respected and followed the "new_prompt_source_task" to create one.
But I am keep getting this kind of error message:
raise ValueError(f"No original task templates found for {task_name}")
ValueError: No original task templates found for lambada

[2022-08-30 07:52] dayeonki commented on #820
task > lambada.py is defined as:

class LAMBADA(PromptSourceTask):
    VERSION = 0
    DATASET_PATH = inspect.getfile(lm_eval.datasets.lambada.lambada)
    DATASET_NAME = None

    def has_training_docs(self):
        return False

    def has_validation_docs(self):
        return True

    def has_test_docs(self):
        return False

    def training_docs(self):
        pass

    def validation

[2022-08-30 15:04] stephenbach commented on #820
Hi @dayeonki, this might be better posted in bigscience-lm-evaluation-harness, but I can try to help with debugging. Can you post the entire backtrace? You could also try to load LAMBADA in promptsource following the example in the promptsource README.

[2022-09-10 13:15] sbmaruf opened #822 "template marked as original_task fails to generate test data"
Recently I came across `super_glue` `copa` prompts where templates are conditioned as following,

[code]

So lot of samples will get removed by this template. Now it is a bit annoying since calculating test score on this template may raise confusions and inaccurate outcomes. I was wondering should make sure that all the samples are generated in case of `prompt.metadata.original_task` is `True`, ot

[2022-09-13 14:55] stephenbach commented on #822
Hey Maru,
We had a fair amount of debate about this, so agree that it's potentially counter-intuitive, but this is the expected behavior. From the contributing guide
[code]
The reason we don't use original task in the sense you're describing is that it's very hard to certify with a check box that the results will mean what every user expects across all datasets. Therefore, it's expected that users

[2022-09-13 14:55] #822 closed

[2022-09-16 03:49] harrylyf opened #824 "'metadata' is undefined for P3 data"
Hi, I am trying to use the `bigscience/p3` dataset to fine-tune my model. Specifically `adversarial_qa_dbert_answer_the_following_q`. However, I am experiencing `jinja2.exceptions.UndefinedError: 'metadata' is undefined` Error.
I used the code from Readme but modified it a bit for my specific dataset.

Code executed:
[code]
Error message:
[code]

Can anyone help with this? Thanks!!

[2022-09-16 12:40] sbmaruf commented on #824
P3 dataset (`"bigscience/P3", "adversarial_qa_dbert_answer_the_following_q"`) is already prompted dataset. The json metadata is in the following format,
[code]

The template that you are trying to run can only be applied to the original dataset. The following code works.
[code]

[2022-09-17 05:53] #824 closed

[2022-09-17 05:53] harrylyf commented on #824
Got it, it worked. Thank you so much!

[2022-09-17 10:40] TianlinZhang668 opened #825 "when a prompt has many <mask>, how to design corresponding settings?"
when a prompt has many <mask>, how to design corresponding settings?

[2022-09-18 16:12] stephenbach commented on #825
Hi, promptsour email is designed with sequence to sequence models in mind, so there’s no notion of a mask. Even though some prompts have one-token answers, you can define targets as arbitrary text.

[2022-09-18 16:12] #825 closed

[2022-10-21 09:55] rbawden opened #831 "Possible to access other examples when prompting?"
Hi there!

I would like to know if it is possible when prompting to add access to the other examples in the dataset, for example by having access to a super() and then indexing the other examples.

The use case: I would like to construct a few-shot example directly in promptsource using a random example from elsewhere in the dataset. However, I would like the random example to use different attrib

[2022-10-21 19:04] VictorSanh commented on #831
Hi @rbawden,
There is no explicit support unfortunately for the case you are describing.
I think the easiest thing you can do is separately prompt the dataset and glue the instances together yourself. Something along the lines of:
[code]
I haven't touched eval-harness in a while so won't be able to advise on this side.

[2022-10-22 15:52] rbawden commented on #831
Ok, thanks @VictorSanh, I'll look into this!

[2022-10-22 15:52] #831 closed

[2022-10-28 18:43] #820 closed

[2022-10-28 18:48] stephenbach opened #836 "Regenerate all templates in unicode"
@KhalidAlt made a great suggestion to change

[code]

to

[code]

in `templates.py` so that the yaml files display as unicode (rather than the unicode code points). We should definitely do this, but we should do it when the corpus is relatively stable and we can regenerate (read and write) all the yaml as one commit.

[2022-11-03 15:50] Muennighoff opened #838 "Merging xP3 & eval-hackathon"
I would like to get all [xP3](https://huggingface.co/datasets/bigscience/xP3) prompts merged into eval-hackathon & then have eval-hackathon be merged into main once & for all, but I'm not sure if you want that? cc @VictorSanh @stephenbach

It would include adding:
- Normal english prompts for various new & existing datasets (many PRs already open - will clean them up & request reviews when ready i

[2022-11-15 23:40] xuanqing94 opened #840 "Possibly incorrect prompt"
https://github.com/bigscience-workshop/promptsource/blob/40ae287a96e1675ea07d390e64182df86b9e11ea/promptsource/templates/race/high/templates.yaml#L13

options[answer] is always a correct answer. I guess you mean options[candidate] (candidate is defined a few lines before)?

[2022-11-15 23:42] VictorSanh commented on #840
yes, good catch!
Want to open a PR to fix this?